<custom-component>
    <script>
        //# sourceURL=html/components/reviews/Avatar.html
        class Avatar extends Component {
            props = { imageURL: `` }
        }
    </script>
    <style>
    </style>
    <component-markup>
        <div id="{id}" class="round-50 overflow-hidden center-text border-solid border-1 border-black w45px h45px">
            <img id="{id}Img" src="{imageURL}" width="45" alt="Avatar image" loading="lazy">
        </div>
    </component-markup>
    <test-script>
    </test-script>
</custom-component>
