<vanilla-component>
    <script>
        //# sourceURL=html/components/reviews/Avatar.js
        class Avatar{
            className() {return this.constructor.name }
            initialize(componentObjectId) { this.props.componentObjectId = componentObjectId }
            beforeMount() { }
            afterMount() { }
            beforeUnmount() { }
            afterUnmount() { }
            destroy() { VanillaComponentLifecycle.destroyComponentObject(`${this.props.componentObjectId}`) }
            props = {
                componentObjectId: ``,
                imageURL: ``,
            }
        }
    </script>
    <test-script>
    </test-script>
    <style>
    </style>
    <component-markup>
        <div id="{componentObjectId}" class="round-50 overflow-hidden center-text border-solid border-1 border-black w45px h45px">
            <img id="{componentObjectId}Img" src="{imageURL}" width="45" alt="Avatar image" loading="lazy">
        </div>
    </component-markup>
</vanilla-component>
