<vanilla-component>
    <script>
        class ReplyDialog{
            className() {return this.constructor.name }
            initialize(componentObjectId) { 
                const reviewObj = Vanilla.getComponentObject(`Review${this.props.reviewId}`)

                this.props.componentObjectId = componentObjectId 
                this.vars.reviewImageURL = reviewObj.props.imageURL
                this.vars.reviewFirstName = reviewObj.props.firstName
                this.vars.reviewLastName = reviewObj.props.lastName
                this.vars.reviewCity = reviewObj.props.city
                this.vars.reviewState = reviewObj.props.state
                this.vars.reviewDate = reviewObj.props.date
                this.vars.reviewRating = reviewObj.props.rating
                this.vars.review = reviewObj.props.review

                this.vars.editingExistingReply = false
                if (this.props.replyId && this.props.replyId !== `undefined`) {
                    const replyObj = Vanilla.getComponentObject(`Reply${this.props.replyId}`)

                    this.vars.reply = replyObj.vars.reply
                    this.vars.editingExistingReply = true
                }
            }
            beforeMount() { }
            afterMount() { }
            beforeUnmount() { }
            afterUnmount() { }
            onBlur(event) { this.updateReply() }
            onInput(event) { this.updateReply() }
            showError(message) {
                let errorSnackbar = Vanilla.getComponentObject(`SnackbarError`)
                        
                errorSnackbar.vars.text = message
                errorSnackbar.show()
            }
            showInfo(message) {
                let infoSnackbar = Vanilla.getComponentObject(`SnackbarInfo`)
                        
                infoSnackbar.vars.text = message
                infoSnackbar.show()
            }
            updateReply() {
                const textAreaId = `${this.props.componentObjectId}ReplyText`
                let textarea = document.getElementById(textAreaId)

                this.vars.reply = textarea.value
            }
            show() {
                const modal = document.getElementById(this.props.componentObjectId)

                modal.setAttribute(`class`, `display-block modal`)
            }
            async hide() {
                const modal = document.getElementById(this.props.componentObjectId)

                modal.setAttribute(`class`, `display-none modal`)
                await VanillaComponentLifecycle.unmount(`${this.props.componentObjectId}ReviewHeaderAvatar`)
                await VanillaComponentLifecycle.unregisterComponentObject(`${this.props.componentObjectId}ReviewHeaderAvatar`)
                await VanillaComponentLifecycle.unmount(`${this.props.componentObjectId}ReviewHeader`)
                await VanillaComponentLifecycle.unregisterComponentObject(`${this.props.componentObjectId}ReviewHeader`)
                await VanillaComponentLifecycle.unmount(`${this.props.componentObjectId}Stars`)
                await VanillaComponentLifecycle.unregisterComponentObject(`${this.props.componentObjectId}Stars`)
                await VanillaComponentLifecycle.unmount(this.props.componentObjectId)
                await VanillaComponentLifecycle.unregisterComponentObject(this.props.componentObjectId)
                await VanillaComponentLifecycle.unregisterDOMFragment(this.className())
            }
            save() {
                VanillaJWT.getCredentials(async (error, credentials) => {
                    if (error) {
                        this.showError(`Error getting credentials.`)
                        return
                    }

                    if (this.vars.editingExistingReply) {
                        const replyNumber = this.props.replyId.split(`_`)[1]
                        const replyText = this.vars.reply.replace(/\n/g, "\\n")
                        const reply = {
                            id: `review:${replyNumber}`,
                            reply: replyText
                        }
                        const response = await fetch('http://localhost:8080/update-reply', {
                            method: 'POST',
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json',
                                'Authorization': `'Bearer ${credentials.token}'`
                            },
                            body: JSON.stringify(reply)
                        })
                        const content = await response.json()

                        if (200 === response.status) {
                            const reviewList = Vanilla.getComponentObject(`ReviewList`)

                            await reviewList.unmountAndUnregisterReviewsAndReplies()
                            await reviewList.fetchReviews()
                            VanillaJWT.storeCredentials(content.jwt)
                            // location.reload()
                        } else {
                            if (401 === response.status) { window.location.href = `/login` }
                            else { this.showError(`Error updating reply. Status code ${response.status}.`) }
                        }
                    } else {
                        const reviewNumber = this.props.reviewId.split(`_`)[1]
                        const reply = {
                            replyingTo: reviewNumber,
                            image: credentials.image,
                            name: {
                                first: credentials.name.first,
                                last: credentials.name.last
                            },
                            title: `Business Owner`,
                            reply: this.vars.reply
                        }
                        const response = await fetch('http://localhost:8080/add-reply', {
                            method: 'POST',
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json',
                                'Authorization': `'Bearer ${credentials.token}'`
                            },
                            body: JSON.stringify(reply)
                        });
                        const content = await response.json()

                        if (200 === response.status) {
                            const reviewList = Vanilla.getComponentObject(`ReviewList`)

                            VanillaJWT.storeCredentials(content.jwt)
                            await reviewList.unmountAndUnregisterReviewsAndReplies()
                            await reviewList.fetchReviews()
                            this.showInfo(`Reply added.`)
                        } else {
                            if (401 === response.status) { window.location.href = `/login` }
                            else { this.showError(`Error adding reply. Status code ${response.status}.`) }
                        }
                    }
                })
                this.hide()
            }
            props = {
                componentObjectId: ``,
                reviewId: ``,
                replyId: ``
            }
            vars = {
                reviewImageURL: ``,
                reviewFirstName: ``,
                reviewLastName: ``,
                reviewCity: ``,
                reviewState: `AZ`,
                reviewDate: ``,
                review: ` `,
                reviewRating: 0,
                reply: ` `,
                editingExistingReply: false
            }
        }
    </script>
    <test-script>
    </test-script>
    <style>

    </style>
    <component-markup>
        <div id="{componentObjectId}" class="modal display-none" onclick="$obj.hide()">
              <div id="{componentObjectId}Frame" class="modal-content" onclick="event.stopPropagation()">
                <include-html include-in="review-dialog.html" src="./html/components/reviews/review-header.html" component-class="ReviewHeader" component-id="{componentObjectId}ReviewHeader">
                    <include-props class="display-none">
                        { 
                            imageURL: `{reviewImageURL}`,
                            firstName: `{reviewFirstName}`,
                            lastName: `{reviewLastName}`,
                            city: `{reviewCity}`,
                            state: `{reviewState}`,
                            date: `{reviewDate}`
                        }          
                    </include-props>
                </include-html>
                <include-html include-in="review-dialog.html" src="./html/components/reviews/stars.html" component-class="Stars" component-id="{componentObjectId}Stars">
                    <include-props class="display-none">{ editable: false }</include-props>
                    <include-vars class="display-none">{ rating: {reviewRating} }</include-vars>
                </include-html>
                <div class="flex-col margin-b-10">
                    <h3 id="{componentObjectId}ReviewTitle" class="subtitle-2">Review</h3>
                    <p id="{componentObjectId}Review" class="caption-1 whitespace-pre-wrap">{review}</p>
                </div>
                <div class="flex-col margin-b-5">
                    <h3 id="{componentObjectId}ReplyTitle" class="subtitle-2">Reply</h3>
                    <textarea id="{componentObjectId}ReplyText" name="reply" class="w100 h200px left-align-text whitespace-pre-wrap caption-1" autofocus onblur="$obj.onBlur(event)" oninput="$obj.onInput(event)">{reply}</textarea>
                </div>
                <div id="{componentObjectId}Buttons" class="flex-row flex-wrap flex-end margin-t-10">
                    <div id="{componentObjectId}CancelButton" class="button" onclick="$obj.hide()">
                        <div id="{componentObjectId}CancelButtonText" class="margin-1">Cancel</div> 
                    </div>
                    <div id="{componentObjectId}SaveButton" class="button" onclick="$obj.save()">
                        <div id="{componentObjectId}SaveButtonText" class="margin-1">Save</div> 
                    </div>
                </div>    
            </div>
          </div>
    </component-markup>
</vanilla-component>
