<vanilla-component>
    <script>
        class Reply{
            className() {return this.constructor.name }
            initialize(componentObjectId) { this.props.componentObjectId = componentObjectId }
            beforeMount() { }
            afterMount() { 
                VanillaJWT.getCredentials(async (error, credentials) => {
                    if (error) {
                        // TODO: Display error message.
                        return
                    }
                    const replyElement = document.getElementById(`${this.props.componentObjectId}-edit`)

                    if (!credentials?.roles) { return }
                    if (!credentials.roles.includes("Admin")) { return }
                    if (!replyElement) { return }
                    replyElement.setAttribute(`class`, `text-button`)
                })
            }
            beforeUnmount() { }
            afterUnmount() { }
            getReviewElement() {
                return document.getElementById(`Review-${this.props.reviewId}`)
            }
            getReviewObject() {
                return Vanilla.getComponentObject(`Review-${this.props.reviewId}`)
            }
            getReplyElement() {
                return document.getElementById(`Reply-${this.props.replyId}`)
            }
            async edit() { 
                const reviewObject = this.getReviewObject()
                let propsInnerText = "{ reviewId: `" + this.props.reviewId + "`, replyId: `" + this.props.replyId + "` }"

                if (!document.getElementById(`ReplyDialog`)) {
                    let newInclude = Vanilla.createComponentInclude(`index.html`, `./html/components/reviews/reply-dialog.html`, `ReplyDialog`,  `ReplyDialog`, propsInnerText, null)

                    this.getReviewElement().appendChild(newInclude)
                    await Loader.loadIncludes()
                }

                const replyDialog = Vanilla.getComponentObject(`ReplyDialog`)

                replyDialog.show()
            }
            props = {
                componentObjectId: ``,
                reviewId: ``,
                replyId: ``,
                imageURL: ``,
                firstName: ``,
                lastName: ``,
                title: ``
            }
            vars = {
                reply: ``,
            }
        }
    </script>
    <test-script>
    </test-script>
    <style>
    </style>
    <component-markup>
        <section id="{componentObjectId}" class="flex-col shadow-white round-15px pad-5 margin-b-10 margin-l-20 bg-blue-50">
            <div>
                <include-html include-in="reply.html" src="./html/components/reviews/reply-header.html" component-class="ReplyHeader" component-id="{componentObjectId}-reply-header">
                    <include-props class="display-none">
                        { 
                            imageURL: `{imageURL}`,
                            firstName: `{firstName}`,
                            lastName: `{lastName}`,
                            title: `{title}`,
                            date: `{date}`
                        }          
                    </include-props>
                </include-html>
            </div>
            <section id="{componentObjectId}-reply-body" class="flex-col w100">
                <div id="{componentObjectId}-reply" class="whitespace-pre-wrap overflow-wrap-break border-tb-solid border-1 border-gray-7 pad-5 text-2">{reply}</div>
            </section>
            <div id="{componentObjectId}-edit" class="display-none" onclick="$obj.edit()">
                <div id="{componentObjectId}-edit-buttom" class="margin-1">Edit</div> 
            </div>
        </section>
    </component-markup>
</vanilla-component>
