<custom-component>
    <script>
        //# sourceURL=html/components/reviews/ReviewList.html
        class ReviewList extends Component {
            initialize(id) { 
                super.initialize(id)

                Queue.register(this, Messages.INCLUDES_LOADED, () => { 
                    Queue.unregister(this, Messages.INCLUDES_LOADED)
                    this.fetchReviews()
                })
            }
            destroy() {
                const loadingObj = Component.getObject(`${this.id}Loading`)

                this.destroyReviewsAndReplies()
                loadingObj.destroy()
                super.destroy()
            }
            destroyReviewsAndReplies() {
                for (const reviewAndReply of this.vars.reviews) {
                    if (reviewAndReply.reply) {
                        const replyObj = Component.getObject(`Reply${this.getCleanId(reviewAndReply.reply.id)}`)

                        if (replyObj) { replyObj.destroy() }
                    }
                    if (reviewAndReply.review) {
                        const reviewObj = Component.getObject(`Review${this.getCleanId(reviewAndReply.review.id)}`)

                        if (reviewObj) { reviewObj.destroy() }
                    }
                }
            }
            fetchReviews() {
                fetch(this.props.fetchURL)
                    .then((response) => response.json())
                    .then((data) => {
                        let reviews = this.sortReviews(data)
                        let cleanReviews = this.cleanReviews(reviews)
                        let reviewsAndReplies = this.pairReviewsAndReplies(cleanReviews)
                        let newDOMElements = this.createListElements(reviewsAndReplies)

                        this.vars.reviews = reviewsAndReplies
                        this.buildListElements(newDOMElements)
                        this.setReviewCountAndAverage()
                        this.updateAverageStars()
                        this.vars.loadingClass = `display-none`
                    })
            }
            sortReviews(data) {
                const sortFunction = (a, b) => {
                    const dateA = a.date.split("/")
                    const dateB = b.date.split("/")

                    if (dateA[2] !== dateB[2]) { return dateB[2] - dateA[2] }
                    if (dateA[0] !== dateB[0]) { return dateB[0] - dateA[0] }
                    return dateB[1] - dateA[1]
                }
                data.sort(sortFunction)
                return data
            }
            cleanReviews(data) {
                let results = []

                for (const reviewOrReply of data) {
                    reviewOrReply.id = this.getCleanId(reviewOrReply.id)
                    results.push(reviewOrReply)
                }
                return results
            }
            isReply(data) { return !!data.replyingTo }
            pairReviewsAndReplies(data) {
                let result = []

                for (const reviewOrReply of data) {
                    let review = null
                    let reply = null

                    if (this.isReply(reviewOrReply)) { continue }
                    review = reviewOrReply
                    for (const reviewOrReply2 of data) {
                        if (reviewOrReply === reviewOrReply2) { continue }
                        if (!this.isReply(reviewOrReply2)) { continue }

                        const reviewId = review.id.split(`_`)[1]

                        if (reviewId !== reviewOrReply2.replyingTo.toString()) { continue }
                        reply = reviewOrReply2
                        break
                    }
                    result.push({ review, reply })
                }
                return result
            }
            getCleanId(id) {
                return id.replace(`:`, `_`)
            }
            createListElements(data) {
                let results = []

                for (let loop = 0; loop < data.length; loop++) {
                    let review = data[loop].review
                    let reply = data[loop].reply
                    let propsInnerText = "{ "
                    let varsInnerText = (reply)? "{ replyId: `" + reply.id + "` }" : null

                    if (!review.image) { review.image = `./images/generic-avatar.png` }
                    propsInnerText += "reviewId: `" + this.getCleanId(review.id) + "`, "
                    propsInnerText += "imageURL: `" + review.image + "`, "
                    propsInnerText += "firstName: `" + review.name.first + "`, "
                    propsInnerText += "lastName: `" + review.name.last + "`, "
                    propsInnerText += "date: `" + review.date + "`, "
                    propsInnerText += "city: `" + review.city + "`, "
                    propsInnerText += "state: `" + review.state + "`, "
                    propsInnerText += "rating: " + review.stars + ", "
                    propsInnerText += "review: `" + review.review.replace(/\n/g, "\\n") + "`, "
                    propsInnerText += "usefulCount: " + review.usefulCount + ", "
                    propsInnerText += "funnyCount: " + review.funnyCount + ", "
                    propsInnerText += "coolCount: " + review.coolCount + " }"

                    let newInclude = Component.createComponentInclude(`index.html`, `./html/components/reviews/review.html`, `Review`,  `Review${this.getCleanId(review.id)}`, propsInnerText, varsInnerText)

                    results.push(newInclude)

                    if (!reply) { continue }
                    if (!reply.image) { reply.image = `./images/generic-avatar.png` }

                    propsInnerText = `{`
                    propsInnerText += "reviewId: `" + this.getCleanId(review.id) + "`, "
                    propsInnerText += "replyId: `" + this.getCleanId(reply.id) + "`, "
                    propsInnerText += "imageURL: `" + reply.image + "`, "
                    propsInnerText += "firstName: `" + reply.name.first + "`, "
                    propsInnerText += "lastName: `" + reply.name.last + "`, "
                    propsInnerText += "title: `" + reply.title + "`, "
                    propsInnerText += "date: `" + reply.date + "` }"

                    varsInnerText = reply.reply? "{ reply: `" + reply.reply.replace(/\n/g, "\\n") + "` }" : "{ reply: `` }"

                    newInclude = Component.createComponentInclude(`index.html`, `./html/components/reviews/reply.html`, `Reply`,  `Reply${this.getCleanId(reply.id)}`, propsInnerText, varsInnerText)
                    results.push(newInclude)
                }
                return results
            }
            async buildListElements(newDOMElements) {
                const listRootElement = document.getElementById(this.id)

                for (const element of newDOMElements) {
                    listRootElement.appendChild(element)
                    await Loader.loadIncludes()
                }
            }
            setReviewCountAndAverage() {
                if (!this.vars.reviews || 0 === this.vars.reviews.length) {
                    this.vars.reviewCount = 0
                    this.vars.reviewAverage = 0
                    return
                }

                const sum = this.vars.reviews.reduce((partialSum, reviewReplyPair) => partialSum + reviewReplyPair.review.stars, 0)

                this.vars.reviewCount = this.vars.reviews.length
                this.vars.reviewAverage = (sum / this.vars.reviewCount).toPrecision(1)
            }            
            updateAverageStars() {
                const starsObjectId =  `${this.id}Stars`
                let starsObject = Component.getObject(starsObjectId)

                if (!starsObject) { return }
                starsObject.setStars(this.vars.reviewAverage)
            }
            // fetchURL: `http://127.0.0.1:8080/reviews`
            // fetchURL: `https://vdynode.fly.dev/reviews`
            props = {
                fetchURL: `http://localhost:8080/reviews`
            }
            vars = {
                reviews: null,
                loadingClass: `flex-row flex-space-between`,
                reviewCount: 0,
                reviewAverage: 0
            }
        }
    </script>
    <test-script>
    </test-script>
    <style>
    </style>
    <component-markup>
        <article id="{id}" class="flex-col bg-white round-15px pad-5">
            <div id="{id}LoadingWrapper" class="{loadingClass}">
                <div id="{id}LoadingText">Loading reviews...</div>
                <include-html include-in="review-list.html" src="./html/components/loading.html" component-class="Loading" component-id="{id}Loading"></include-html>
            </div>
            <div id="{id}Summary" class="flex-row flex-space-between flex-center flex-align-baseline ">
                <div id="{id}SummaryReviewCount">{reviewCount} Reviews</div>
                <include-html include-in="review.html" src="./html/components/reviews/stars.html" component-class="Stars" component-id="{id}Stars">
                    <include-props class="display-none">{ editable: false }</include-props>
                    <include-vars class="display-none">{ rating: {reviewAverage} }</include-vars>
                </include-html>
                <div id="{id}SummaryReviewAverage">{reviewAverage} Star Average</div>
            </div>
        </article>
    </component-markup>
</custom-component>
