<custom-component>
    <script>
        //# sourceURL=html/components/reviews/Review.js
        class Review extends Component {
            destroy() {
                const reviewHeaderObj = Component.getObject(`${this.id}ReviewHeader`)
                const starsObj = Component.getObject(`${this.id}Stars`)
                const reviewObj = Component.getObject(`${this.id}Review`)
                const ufcObj = Component.getObject(`${this.id}UFC`)

                reviewHeaderObj.destroy()
                starsObj.destroy()
                reviewObj.destroy()
                ufcObj.destroy()
                super.destroy()
            }
            getReviewElement() {
                return document.getElementById(`Review${this.props.reviewId}`)
            }
            getReviewObject() {
                return Component.getObject(`Review${this.props.reviewId}`)
            }
            getReplyElement() {
                if (!this.hasReply()) { return null }
                return document.getElementById(`Reply${this.vars.replyId}`)
            }
            hasReply() {
                return !!this.vars.replyId
            }
            async reply() {
                const reviewObject = this.getReviewObject()
                let propsInnerText = "{ reviewId: `" + this.props.reviewId + "`, replyId: `" + this.props.replyId + "` }"

                if (!document.getElementById(`ReplyDialog`)) {
                    let newInclude = Component.createComponentInclude(`index.html`, `./html/components/reviews/reply-dialog.html`, `ReplyDialog`,  `ReplyDialog`, propsInnerText, null)

                    this.getReviewElement().appendChild(newInclude)
                    await Loader.loadIncludes()
                }

                const replyDialog = Component.getObject(`ReplyDialog`)

                replyDialog.show()
            }
            props = {
                reviewId: ``,
                imageURL: ``,
                firstName: ``,
                lastName: ``,
                city: ``,
                state: ``,
                starCount: 0,
                review: `Review Text`,
                usefulCount: 0,
                funnyCount: 0,
                coolCount: 0,
            }
            vars = {
                replyId: ``,
            }
        }
    </script>
    <test-script>
    </test-script>
    <style>
    </style>
    <component-markup>
        <section id="{id}" class="flex-col bg-white shadow-white margin-tb-10 round-15px pad-5">
            <div>
                <include-html include-in="review.html" src="./html/components/reviews/review-header.html" component-class="ReviewHeader" component-id="{id}ReviewHeader">
                    <include-props class="display-none">
                        { 
                            imageURL: `{imageURL}`,
                            firstName: `{firstName}`,
                            lastName: `{lastName}`,
                            city: `{city}`,
                            state: `{state}`,
                            date: `{date}`
                        }          
                    </include-props>
                </include-html>
            </div>
            <section id="{id}ReviewBody" class="flex-col w100">
                <include-html include-in="review.html" src="./html/components/reviews/stars.html" component-class="Stars" component-id="{id}Stars">
                    <include-props class="display-none">{ editable: false }</include-props>
                    <include-vars class="display-none">{ rating: {rating} }</include-vars>
                </include-html>
                <include-html include-in="review.html" src="./html/components/reviews/show-more-text.html" component-class="ShowMoreText" component-id="{id}Review">
                    <include-vars class="display-none">{ text: `{review}` }</include-vars>
                </include-html>
                <include-html include-in="review.html" src="./html/components/reviews/useful-funny-cool.html" component-class="UsefulFunnyCool" component-id="{id}UFC">
                    <include-vars class="display-none">{ usefulCount: {usefulCount}, funnyCount: {funnyCount}, coolCount: {coolCount}, replyId: `{replyId}` }</include-vars>
                </include-html>
            </section>
        </section>
    </component-markup>
</custom-component>
