<vanilla-component>
    <script>
        class ReviewDialog{
            className() {return this.constructor.name }
            initialize(componentObjectId) { this.props.componentObjectId = componentObjectId }
            beforeMount() { }
            afterMount() {
                const element = document.getElementById(this.props.componentObjectId)

                element.addEventListener(`newTextData`, (e) => { 
                    if (`FirstName` === e.detail.component.props.name) {
                        this.vars.reviewFirstName = e.detail.text()
                    } else if (`LastName` === e.detail.component.props.name) {
                        this.vars.reviewLastName = e.detail.text()
                    } else if (`City` === e.detail.component.props.name) {
                        this.vars.reviewCity = e.detail.text()
                    } else if (`State` === e.detail.component.props.name) {
                        this.vars.reviewState = e.detail.text()
                    } else if (`AvatarURL` === e.detail.component.props.name) {
                        this.vars.reviewImageURL = e.detail.text()
                    }
                })
                element.addEventListener(`newRating`, (e) => { this.vars.reviewRating = e.detail.rating })
            }
            beforeUnmount() { }
            afterUnmount() { }
            onBlur(event) { this.updateReview() }
            onInput(event) { this.updateReview() }
            updateReview() {
                const textAreaId = `${this.props.componentObjectId}ReviewText`
                let textarea = document.getElementById(textAreaId)

                this.vars.review = textarea.value
            }
            show() {
                const modal = document.getElementById(this.props.componentObjectId)

                modal.setAttribute(`class`, `display-block modal`)
            }
            async hide() {
                const modal = document.getElementById(this.props.componentObjectId)

                modal.setAttribute(`class`, `display-none modal`)
                await this.unmountAndUnregister()
            }
            showError(message) {
                let errorSnackbar = Vanilla.getComponentObject(`SnackbarError`)
                        
                errorSnackbar.vars.text = message
                errorSnackbar.show()
            }
            showInfo(message) {
                let infoSnackbar = Vanilla.getComponentObject(`SnackbarInfo`)
                        
                infoSnackbar.vars.text = message
                infoSnackbar.show()
            }
            async save() {
                const review = {
                    image: this.vars.reviewImageURL,
                    name: {
                        first: this.vars.reviewFirstName,
                        last: this.vars.reviewLastName
                    },
                    city: this.vars.reviewCity,
                    state: this.vars.reviewState,
                    date: this.vars.reviewDate,
                    review: this.vars.review.trim(),
                    stars: this.vars.reviewRating,
                    usefulCount: 0,
                    funnyCount: 0,
                    coolCount: 0
                }
                const response = await fetch('http://localhost:8080/add-review', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(review)
                })
                const content = await response.json()

                if (200 === response.status) {
                    const reviewList = Vanilla.getComponentObject(`ReviewList`)

                    await reviewList.unmountAndUnregisterReviewsAndReplies()
                    await reviewList.fetchReviews()
                    VanillaJWT.storeCredentials(content.jwt)
                    location.reload()
                    this.showInfo(`Review added.`)
                } else {
                    this.showError(`Error adding review. Status code ${response.status}.`)
                }
                this.hide()
            }
            async unmountAndUnregister() {
                const reviewHeaderObj = Vanilla.getComponentObject(`${this.props.componentObjectId}ReviewHeader`)
                const starsObj = Vanilla.getComponentObject(`${this.props.componentObjectId}Stars`)

                await reviewHeaderObj.unmountAndUnregister()
                await starsObj.unmountAndUnregister()
                await VanillaComponentLifecycle.unmount(`${this.props.componentObjectId}`)
                await VanillaComponentLifecycle.unregisterComponentObject(`${this.props.componentObjectId}`)
            }
            props = {
                componentObjectId: ``
            }
            vars = {
                reviewImageURL: `./images/generic-avatar.png`,
                reviewFirstName: ``,
                reviewLastName: ``,
                reviewCity: ``,
                reviewState: ``,
                reviewDate: ``,
                review: ` `,
                reviewRating: 5,
            }
        }
    </script>
    <test-script>
    </test-script>
    <style>

    </style>
    <component-markup>
        <div id="{componentObjectId}" class="modal display-none" onclick="$obj.hide()">
              <div id="{componentObjectId}Frame" class="modal-content h525px" onclick="event.stopPropagation()">
                <div class="h160px">
                    <include-html include-in="review-dialog.html" src="./html/components/reviews/stars.html" component-class="Stars" component-id="{componentObjectId}Stars">
                        <include-props class="display-none">{ editable: true }</include-props>
                        <include-vars class="display-none">{ rating: {reviewRating} }</include-vars>
                    </include-html>
                    <include-html include-in="review-dialog.html" src="./html/components/reviews/review-header-editable.html" component-class="ReviewHeaderEditable" component-id="{componentObjectId}ReviewHeader">
                        <include-vars class="display-none">
                            { 
                                imageURL: `{reviewImageURL}`,
                                firstName: `{reviewFirstName}`,
                                lastName: `{reviewLastName}`,
                                city: `{reviewCity}`,
                                state: `{reviewState}`,
                                date: `{reviewDate}`
                            }          
                        </include-vars>
                    </include-html>
                </div>
                <div class="flex-col margin-b-5 margin-t-20">
                    <h3 id="{componentObjectId}ReviewTitle" class="subtitle-2">Review</h3>
                    <textarea id="{componentObjectId}ReviewText" name="review" class="w100 h240px left-align-text whitespace-pre-wrap caption-1" onblur="$obj.onBlur(event)" oninput="$obj.onInput(event)" tabindex="6">{review}</textarea>
                </div>
                <div id="{componentObjectId}Buttons" class="flex-row flex-wrap flex-end margin-t-10">
                    <div id="{componentObjectId}CancelButton" class="button" onclick="$obj.hide()">
                        <div id="{componentObjectId}CancelButtonText" class="margin-1">Cancel</div> 
                    </div>
                    <div id="{componentObjectId}SaveButton" class="button" onclick="$obj.save()">
                        <div id="{componentObjectId}SaveButtonText" class="margin-1">Save</div> 
                    </div>
                </div>    
            </div>
          </div>
    </component-markup>
</vanilla-component>
