<vanilla-component>
    <script>
        class ReviewDialog{
            className() {return this.constructor.name }
            initialize(componentObjectId) { this.props.componentObjectId = componentObjectId }
            beforeMount() { }
            afterMount() {
                const element = document.getElementById(this.props.componentObjectId)

                element.addEventListener(`newTextData`, (e) => { 
                    console.log(`newTextData for ${e.detail.component.props.name}`)
                    if (`FirstName` === e.detail.component.props.name) {
                        this.vars.reviewFirstName = e.detail.text(); console.log(e.detail.component.vars.value)
                    } else if (`LastName` === e.detail.component.props.name) {
                        this.vars.reviewLastName = e.detail.text(); console.log(e.detail.component.vars.value)
                    } else if (`City` === e.detail.component.props.name) {
                        this.vars.reviewCity = e.detail.text(); console.log(e.detail.component.vars.value)
                    } else if (`State` === e.detail.component.props.name) {
                        this.vars.reviewState = e.detail.text(); console.log(e.detail.component.vars.value)
                    } else if (`AvatarURL` === e.detail.component.props.name) {
                        this.vars.reviewImageURL = e.detail.text(); console.log(e.detail.component.vars.value)
                    }
                    console.log(JSON.stringify(this.vars))
                })
                element.addEventListener(`newRating`, (e) => { this.vars.reviewRating = e.detail.rating })
            }
            beforeUnmount() { }
            afterUnmount() { }
            onBlur(event) { this.updateReview() }
            onInput(event) { this.updateReview() }
            updateReview() {
                const textAreaId = `${this.props.componentObjectId}-review-text`
                let textarea = document.getElementById(textAreaId)

                this.vars.review = textarea.value
            }
            show() {
                const modal = document.getElementById(this.props.componentObjectId)

                modal.setAttribute(`class`, `display-block modal`)
            }
            async hide() {
                const modal = document.getElementById(this.props.componentObjectId)

                modal.setAttribute(`class`, `display-none modal`)
                await VanillaComponentLifecycle.unmount(`${this.props.componentObjectId}-review-header-avatar`)
                await VanillaComponentLifecycle.unregisterComponentObject(`${this.props.componentObjectId}-review-header-avatar`)
                await VanillaComponentLifecycle.unmount(`${this.props.componentObjectId}-review-header-avatar-url`)
                await VanillaComponentLifecycle.unregisterComponentObject(`${this.props.componentObjectId}-review-header-avatar-url`)
                await VanillaComponentLifecycle.unmount(`${this.props.componentObjectId}-review-header-editable-first-name`)
                await VanillaComponentLifecycle.unregisterComponentObject(`${this.props.componentObjectId}-review-header-editable-first-name`)
                await VanillaComponentLifecycle.unmount(`${this.props.componentObjectId}-review-header-editable-last-name`)
                await VanillaComponentLifecycle.unregisterComponentObject(`${this.props.componentObjectId}-review-header-editable-last-name`)
                await VanillaComponentLifecycle.unmount(`${this.props.componentObjectId}-review-header-editable-city`)
                await VanillaComponentLifecycle.unregisterComponentObject(`${this.props.componentObjectId}-review-header-editable-city`)
                await VanillaComponentLifecycle.unmount(`${this.props.componentObjectId}-review-header-editable-state`)
                await VanillaComponentLifecycle.unregisterComponentObject(`${this.props.componentObjectId}-review-header-editable-state`)
                await VanillaComponentLifecycle.unmount(`${this.props.componentObjectId}-review-header`)
                await VanillaComponentLifecycle.unregisterComponentObject(`${this.props.componentObjectId}-review-header`)
                await VanillaComponentLifecycle.unmount(`${this.props.componentObjectId}-stars`)
                await VanillaComponentLifecycle.unregisterComponentObject(`${this.props.componentObjectId}-stars`)
                await VanillaComponentLifecycle.unmount(this.props.componentObjectId)
                await VanillaComponentLifecycle.unregisterComponentObject(this.props.componentObjectId)
                await VanillaComponentLifecycle.unregisterDOMFragment(this.className())
            }
            async save() {
                const review = {
                    image: this.vars.reviewImageURL,
                    name: {
                        first: this.vars.reviewFirstName,
                        last: this.vars.reviewLastName
                    },
                    reviewCity: this.vars.reviewCity,
                    reviewState: this.vars.reviewState,
                    reviewDate: this.vars.reviewDate,
                    review: this.vars.review,
                    reviewRating: this.vars.reviewRating
                }
                console.log(JSON.stringify(review))
                const response = await fetch('http://localhost:8080/add-review', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(review)
                })
                const content = await response.json()

                if (200 === response.status) {
                    console.log(`Success`)
                    Vanilla.getComponentObject(`ReviewList`).removeReviewElements()
                    VanillaJWT.storeCredentials(content.jwt)
                    // TODO: Show success message
                } else {
                    console.log(`Error ${response.status}`)
                    // TODO: Show error message
                }
                this.hide()
            }
            props = {
                componentObjectId: ``
            }
            vars = {
                reviewImageURL: `./images/generic-avatar.png`,
                reviewFirstName: ``,
                reviewLastName: ``,
                reviewCity: ``,
                reviewState: ``,
                reviewDate: ``,
                review: ` `,
                reviewRating: 5,
            }
        }
    </script>
    <test-script>
    </test-script>
    <style>

    </style>
    <component-markup>
        <div id="{componentObjectId}" class="modal display-none" onclick="$obj.hide()">
              <div id="{componentObjectId}-frame" class="modal-content h525px" onclick="event.stopPropagation()">
                <div class="h160px">
                    <include-html include-in="review-dialog.html" src="./html/components/reviews/stars.html" component-class="Stars" component-id="{componentObjectId}-stars">
                        <include-props class="display-none">{ editable: true }</include-props>
                        <include-vars class="display-none">{ rating: {reviewRating} }</include-vars>
                    </include-html>
                    <include-html include-in="review-dialog.html" src="./html/components/reviews/review-header-editable.html" component-class="ReviewHeaderEditable" component-id="{componentObjectId}-review-header">
                        <include-vars class="display-none">
                            { 
                                imageURL: `{reviewImageURL}`,
                                firstName: `{reviewFirstName}`,
                                lastName: `{reviewLastName}`,
                                city: `{reviewCity}`,
                                state: `{reviewState}`,
                                date: `{reviewDate}`
                            }          
                        </include-vars>
                    </include-html>
                </div>
                <div class="flex-col margin-b-5 margin-t-20">
                    <h3 id="{componentObjectId}-review-title" class="subtitle-2">Review</h3>
                    <textarea id="{componentObjectId}-review-text" name="review" class="w100 h240px left-align-text whitespace-pre-wrap caption-1" onblur="$obj.onBlur(event)" oninput="$obj.onInput(event)" tabindex="6">{review}</textarea>
                </div>
                <div id="{componentObjectId}" class="flex-row flex-wrap flex-end margin-t-10">
                    <div id="{componentObjectId}-cancel-button" class="button" onclick="$obj.hide()">
                        <div id="{componentObjectId}-cancel-button-text" class="margin-1">Cancel</div> 
                    </div>
                    <div id="{componentObjectId}-save-button" class="button" onclick="$obj.save()">
                        <div id="{componentObjectId}-save-button-text" class="margin-1">Save</div> 
                    </div>
                </div>    
            </div>
          </div>
    </component-markup>
</vanilla-component>
