<vanilla-component>
    <script>
        class ReviewHeader{
            className() {return this.constructor.name }
            initialize(componentObjectId) { this.props.componentObjectId = componentObjectId }
            beforeMount() { }
            afterMount() { }
            beforeUnmount() { }
            afterUnmount() { }
            async unmountAndUnregister() {
                const avatarObj = Vanilla.getComponentObject(`${this.props.componentObjectId}Avatar`)

                await avatarObj.unmountAndUnregister()
                await VanillaComponentLifecycle.unmount(`${this.props.componentObjectId}`)
                await VanillaComponentLifecycle.unregisterComponentObject(`${this.props.componentObjectId}`)
            }
            props = {
                componentObjectId: ``,
                imageURL: ``,
                firstName: ``,
                lastName: ``,
                city: ``,
                state: ``,
                date: ``,
            }
        }
    </script>
    <test-script>
    </test-script>
    <style>
    </style>
    <component-markup>
        <div id="{componentObjectId}" class="flex-row">
            <div id="{componentObjectId}AvatarWrapper" class="margin-l-2">
                <include-html include-in="review-header.html" src="./html/components/reviews/avatar.html" component-class="Avatar" component-id="{componentObjectId}Avatar">
                    <include-props class="display-none">{ imageURL: `{imageURL}` }</include-props>
                </include-html>
            </div>
            <div class="flex-col margin-l-2">
                <div id="{componentObjectId}Name" class="subtitle-2">{firstName} {lastName}</div>
                <div id="{componentObjectId}CityState">{city}, {state}</div>
                <div id="{componentObjectId}Date">{date}</div>
            </div>
        </div>
    </component-markup>
</vanilla-component>
