<vanilla-component>
    <script>
        class ShowMoreText{
            className() {return this.constructor.name }
            initialize(componentObjectId) { this.props.componentObjectId = componentObjectId }
            beforeMount() { }
            afterMount() { }
            beforeUnmount() { }
            afterUnmount() { }
            props = {
                componentObjectId: "",
            }
            vars = {
                text: "",
            }
        }
    </script>
    <test-script>
    </test-script>
    <style>
        .show-more-text-label {}
        .show-more-text-input {}

        .show-more-text-label:after {
            content: "Show More";
        }
        .show-more-text-input:checked + .show-more-text-label:after {
            content: "Show Less";
        }
        .show-more-text-input:checked ~ div {
            height: 100%;
        }
    </style>
    <component-markup>
        <div id="{componentObjectId}" class="relative margin-b-20">
            <input id="{componentObjectId}-input" type="checkbox" class="display-none show-more-text-input">
            <label id="{componentObjectId}-label" for="{componentObjectId}-input" class="absolute top100 text-2 show-more-text-label button"></label>
            <div id="{componentObjectId}-text" class="overflow-hidden h6-0em whitespace-pre-wrap overflow-wrap-break border-tb-solid border-2 border-blue-50 pad-5 text-2">{text}</div>
        </div>
</component-markup>
</vanilla-component>
