<custom-component>
    <script>
        //# sourceURL=html/components/reviews/stars.html
        class Stars extends Component {
            afterMount() { 
                super.afterMount()
                this.setStars(this.vars.rating)

                if (this.props.editable) {
                    this.Star1Element.classList.toggle(`cursor-pointer`)
                    this.Star2Element.classList.toggle(`cursor-pointer`)
                    this.Star3Element.classList.toggle(`cursor-pointer`)
                    this.Star4Element.classList.toggle(`cursor-pointer`)
                    this.Star5Element.classList.toggle(`cursor-pointer`)
                } else {
                    this.Star1Element.classList.toggle(`cursor-default`)
                    this.Star2Element.classList.toggle(`cursor-default`)
                    this.Star3Element.classList.toggle(`cursor-default`)
                    this.Star4Element.classList.toggle(`cursor-default`)
                    this.Star5Element.classList.toggle(`cursor-default`)
                }
            }
            setStars(rating) {
                if (1 === this.vars.rating && 1 === rating) {
                    this.vars.rating = 0
                } else {
                    this.vars.rating = rating
                }
                
                this.Star1Element.innerText = (0 < this.vars.rating)? `★` : `☆`
                this.Star2Element.innerText = (1 < this.vars.rating)? `★` : `☆`
                this.Star3Element.innerText = (2 < this.vars.rating)? `★` : `☆`
                this.Star4Element.innerText = (3 < this.vars.rating)? `★` : `☆`
                this.Star5Element.innerText = (4 < this.vars.rating)? `★` : `☆`

                const newRatingEvent = new CustomEvent(
                    `newRating`,
                    {
                        bubbles: true,
                        detail: {
                            rating: this.vars.rating,
                            component: this, 
                            element: document.getElementById(this.id) 
                        }
                    }
                )
                const element = document.getElementById(this.id)

                element.dispatchEvent(newRatingEvent)
            }
            editStars(rating) {
                if (!this.props.editable) { return }
                this.setStars(rating)
            }
            props = {
                editable: true,
            }
            vars = {
                rating: 0,
            }
        }
    </script>
    <style>
    </style>
    <component-markup>
        <div id="{id}" class="flex-row flex-align-center">
            <div id="{id}Star1" class="red-f margin-1 header-6" onclick="$obj.editStars(1)">☆</div>
            <div id="{id}Star2" class="red-f margin-1 header-6" onclick="$obj.editStars(2)">☆</div>
            <div id="{id}Star3" class="red-f margin-1 header-6" onclick="$obj.editStars(3)">☆</div>
            <div id="{id}Star4" class="red-f margin-1 header-6" onclick="$obj.editStars(4)">☆</div>
            <div id="{id}Star5" class="red-f margin-1 header-6" onclick="$obj.editStars(5)">☆</div>
        </div>
    </component-markup>
    <test-script>
    </test-script>
</custom-component>
