<vanilla-component>
    <script>
        //# sourceURL=html/components/reviews/Stars.js
        class Stars{
            className() {return this.constructor.name }
            initialize(componentObjectId) { this.props.componentObjectId = componentObjectId }
            beforeMount() { }
            afterMount() { 
                this.star1 = document.getElementById(`${this.props.componentObjectId}Star1`)
                this.star2 = document.getElementById(`${this.props.componentObjectId}Star2`)
                this.star3 = document.getElementById(`${this.props.componentObjectId}Star3`)
                this.star4 = document.getElementById(`${this.props.componentObjectId}Star4`)
                this.star5 = document.getElementById(`${this.props.componentObjectId}Star5`)
                this.setStars(this.vars.rating)

                if (this.props.editable) {
                    this.star1.classList.toggle(`cursor-pointer`)
                    this.star2.classList.toggle(`cursor-pointer`)
                    this.star3.classList.toggle(`cursor-pointer`)
                    this.star4.classList.toggle(`cursor-pointer`)
                    this.star5.classList.toggle(`cursor-pointer`)
                } else {
                    this.star1.classList.toggle(`cursor-default`)
                    this.star2.classList.toggle(`cursor-default`)
                    this.star3.classList.toggle(`cursor-default`)
                    this.star4.classList.toggle(`cursor-default`)
                    this.star5.classList.toggle(`cursor-default`)
                }
            }
            beforeUnmount() { }
            afterUnmount() { 
            }
            setStars(rating) {
                if (1 === this.vars.rating && 1 === rating) {
                    this.vars.rating = 0
                } else {
                    this.vars.rating = rating
                }

                this.star1.innerText = (0 < this.vars.rating)? `★` : `☆`
                this.star2.innerText = (1 < this.vars.rating)? `★` : `☆`
                this.star3.innerText = (2 < this.vars.rating)? `★` : `☆`
                this.star4.innerText = (3 < this.vars.rating)? `★` : `☆`
                this.star5.innerText = (4 < this.vars.rating)? `★` : `☆`

                const newRatingEvent = new CustomEvent(
                    `newRating`,
                    {
                        bubbles: true,
                        detail: {
                            rating: this.vars.rating,
                            component: this, 
                            element: document.getElementById(this.props.componentObjectId) 
                        }
                    }
                )
                const element = document.getElementById(this.props.componentObjectId)

                element.dispatchEvent(newRatingEvent)
            }
            editStars(rating) {
                if (!this.props.editable) { return }
                this.setStars(rating)
            }
            async unmountAndUnregister() {
                await VanillaComponentLifecycle.unmount(`${this.props.componentObjectId}`)
                await VanillaComponentLifecycle.unregisterComponentObject(`${this.props.componentObjectId}`)
            }
            props = {
                componentObjectId: ``,
                editable: true,
            }
            vars = {
                rating: 0,
            }
        }
    </script>
    <test-script>
    </test-script>
    <style>
    </style>
    <component-markup>
        <div id="{componentObjectId}" class="flex-row flex-align-center">
            <div id="{componentObjectId}Star1" class="red-f margin-1 header-6" onclick="$obj.editStars(1)">☆</div>
            <div id="{componentObjectId}Star2" class="red-f margin-1 header-6" onclick="$obj.editStars(2)">☆</div>
            <div id="{componentObjectId}Star3" class="red-f margin-1 header-6" onclick="$obj.editStars(3)">☆</div>
            <div id="{componentObjectId}Star4" class="red-f margin-1 header-6" onclick="$obj.editStars(4)">☆</div>
            <div id="{componentObjectId}Star5" class="red-f margin-1 header-6" onclick="$obj.editStars(5)">☆</div>
        </div>
    </component-markup>
</vanilla-component>
