<vanilla-component>
    <script>
        class UsefulFunnyCool{
            className() {return this.constructor.name }
            initialize(componentObjectId) { this.props.componentObjectId = componentObjectId }
            beforeMount() { }
            afterMount() {
                VanillaJWT.getCredentials(async (error, credentials) => {
                    if (error) {
                        // TODO: Display error message.
                        return
                    }
                    if (!credentials?.roles) { return }
                    if (!credentials.roles.includes("Admin")) { return }

                    const replyElement = document.getElementById(`${this.props.componentObjectId}Reply`)
                    const reviewElementId = this.props.componentObjectId.slice(0, -4)
                    const reviewObject = Vanilla.getComponentObject(`${reviewElementId}`)

                    if (!replyElement) { return }
                    if (reviewObject.hasReply()) { return }

                    replyElement.setAttribute(`class`, `text-button`)
                })
            }
            beforeUnmount() { }
            afterUnmount() { }
            incrimentUseful() { 
                this.vars.usefulCount++
                this.incriment(`useful`)
            }
            incrimentFunny() { 
                this.vars.funnyCount++ 
                this.incriment(`funny`)
            }
            incrimentCool() { 
                this.vars.coolCount++ 
                this.incriment(`cool`)
            }
            incriment(which) {
                const reviewElementId = this.props.componentObjectId.slice(0, -4)
                const reviewObject = Vanilla.getComponentObject(`${reviewElementId}`)
                const payload = {
                    id: `${reviewObject.props.reviewId}`,
                }
                const response = fetch(`http://localhost:8080/increment-${which}`, {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(payload)
                });
            }
            reply() { 
                const reviewElementId = this.props.componentObjectId.slice(0, -4)
                const reviewObject = Vanilla.getComponentObject(`${reviewElementId}`)

                reviewObject.reply()
             }
            props = {
                componentObjectId: ``,
            }
            vars = {
                usefulCount: 0,
                funnyCount: 0,
                coolCount: 0,
                replyId: ``,
            }
        }
    </script>
    <test-script>
    </test-script>
    <style>
    </style>
    <component-markup>
        <div id="{componentObjectId}" class="flex-row flex-wrap margin-t-10">
            <div id="{componentObjectId}Useful" class="button" onclick="$obj.incrimentUseful()">
                <div id="{componentObjectId}UsefulIcon" class="margin-1">💡</div> 
                <div id="{componentObjectId}UsefulText" class="margin-1">Useful</div> 
                <div id="{componentObjectId}UsefulCount" class="margin-1">{usefulCount}</div> 
            </div>
            <div id="{componentObjectId}Funny" class="button" onclick="$obj.incrimentFunny()">
                <div id="{componentObjectId}FunnyIcon" class="margin-1">😀</div> 
                <div id="{componentObjectId}FunnyText" class="margin-1">Funny</div> 
                <div id="{componentObjectId}FunnyCount" class="margin-1">{funnyCount}</div> 
            </div>
            <div id="{componentObjectId}Cool" class="button" onclick="$obj.incrimentCool()">
                <div id="{componentObjectId}CoolIcon" class="margin-1">😎</div> 
                <div id="{componentObjectId}CoolText" class="margin-1">Cool</div> 
                <div id="{componentObjectId}CoolCount" class="margin-1">{coolCount}</div> 
            </div>
            <div id="{componentObjectId}ReplyButton" class="display-none" onclick="$obj.reply()">
                <div id="{componentObjectId}ReplyButtonText" class="margin-1">Reply</div> 
            </div>
        </div>
    </component-markup>
</vanilla-component>
