<vanilla-component>
    <script>
        class UsefulFunnyCool{
            className() {return this.constructor.name }
            initialize(componentObjectId) { this.props.componentObjectId = componentObjectId }
            beforeMount() { }
            afterMount() {
                const jwt = Registry.get(`JWT`)
                const replyElement = document.getElementById(`${this.props.componentObjectId}-reply`)

                if (!jwt?.roles) { return }
                if (!jwt.roles.includes("Admin")) { return }
                if (!replyElement) { return }
                replyElement.setAttribute(`class`, `text-button`)
            }
            beforeUnmount() { }
            afterUnmount() { }
            incrimentUseful() { this.vars.usefulCount++; }
            incrimentFunny() { this.vars.funnyCount++ }
            incrimentCool() { this.vars.coolCount++ }
            reply() { alert(`reply`) }
            props = {
                componentObjectId: "",
            }
            vars = {
                usefulCount: 0,
                funnyCount: 0,
                coolCount: 0,
            }
        }
    </script>
    <test-script>
    </test-script>
    <style>
    </style>
    <component-markup>
        <div id="{componentObjectId}" class="flex-row flex-wrap margin-t-10">
            <div id="{componentObjectId}-useful" class="button" onclick="$obj.incrimentUseful()">
                <div id="{componentObjectId}-useful-icon" class="margin-1">💡</div> 
                <div id="{componentObjectId}-useful-text" class="margin-1">Useful</div> 
                <div id="{componentObjectId}-useful-count" class="margin-1">{usefulCount}</div> 
            </div>
            <div id="{componentObjectId}-funny" class="button" onclick="$obj.incrimentFunny()">
                <div id="{componentObjectId}-funny-icon" class="margin-1">😀</div> 
                <div id="{componentObjectId}-funny-text" class="margin-1">Funny</div> 
                <div id="{componentObjectId}-funny-count" class="margin-1">{funnyCount}</div> 
            </div>
            <div id="{componentObjectId}-cool" class="button" onclick="$obj.incrimentCool()">
                <div id="{componentObjectId}-funny-icon" class="margin-1">😎</div> 
                <div id="{componentObjectId}-funny-text" class="margin-1">Cool</div> 
                <div id="{componentObjectId}-funny-count" class="margin-1">{coolCount}</div> 
            </div>
            <div id="{componentObjectId}-reply" class="display-none" onclick="$obj.reply()">
                <div id="{componentObjectId}-reply-button" class="margin-1">Reply</div> 
            </div>
        </div>
    </component-markup>
</vanilla-component>
