<custom-component>
    <script>
        //# sourceURL=html/components/reviews/write-review-button.html
        class WriteReviewButton extends Component {
            getReviewList() {
                return document.getElementById(`ReviewList`)
            }
            async review() { 
                if (!document.getElementById(`ReviewDialog`)) {
                    let newInclude = Component.createComponentInclude(`index.html`, `./html/components/reviews/review-dialog.html`, `ReviewDialog`,  `ReviewDialog`, null, null)

                    this.getReviewList().appendChild(newInclude)
                    await Loader.loadIncludes()
                }

                const reviewDialog = Component.getObject(`ReviewDialog`)

                reviewDialog.show()
            }
        }
    </script>
    <test-script>
    </test-script>
    <style>
    </style>
    <component-markup>
        <div id="{id}" class="button w120px" onclick="$obj.review()">Write a Review</div>
    </component-markup>
</custom-component>
