<custom-component>
    <script>
        //# sourceURL=html/components/dropdown-menu.html
        class DropdownMenu extends SlottedComponent {
            static async create(parent, componentId, props, vars, classes, styles, attributes) {
                const newInclude = Component.createComponentInclude(`./html/components/dropdown-menu.html`, componentId, props, vars, classes, styles, attributes)
                
                parent.appendChild(newInclude)
                await Loader.loadIncludes()
            }
            async initialize(id) {
                await super.initialize(id)
                Queue.register(this, Messages.DROPDOWN_BEFORE_OPENED, (message) => {
                    if (message.id === this.id) { return }
                    this.close()
                })
                Queue.register(this, Messages.DROPDOWN_CLOSE, (message) => {
                    if (message.Parent.id !== this.id) { return }
                    this.close()
                })
                Queue.registerAsync(this, Messages.FOCUS_OUT, async (message) => {
                    if (!this.vars?.content || !this.vars.content.length) { return }
                    if (!this.vars.content.includes(message.lostFocus)) { return }
                    if (this.vars.content.includes(message.hasFocus)) { return }
                    await Queue.broadcast(Messages.DROPDOWN_CLOSE, message.lostFocus)
                })
                Queue.register(this, Messages.DOCUMENT_ESCAPE, async (message) => {
                    this.close()
                })
                Queue.register(this, Messages.DOCUMENT_CLICK, (message) => {
                    this.close()
                })
            }
            async onEnabled() { 
                await super.onEnabled()
                if (!this.enabled) { this.close() }
            }
            onFocus() { }
            onBlur() { }
            async suspend() { 
                for (let item of this.vars.content) { item.suspend() }
                await super.suspend()
            }
            async unsuspend() { 
                for (let item of this.vars.content) { item.unsuspend() }
                await super.unsuspend()
            }
            async loadMenuItems() {
                if (this.loadingMenuItems) { return }
                this.loadingMenuItems = true
                if (!this.vars.menuItems || 0 === this.vars.menuItems.length) { return }
                for (let loop = 0; loop < this.vars.menuItems.length; loop++) {
                    const startingItem = this.vars.menuItems[loop]
                    const clickMessage = startingItem.message? startingItem.message : Messages.ON_CLICK
                    const props = startingItem.props? startingItem.props : {}
                    const vars = startingItem.vars? startingItem.vars : {}
                    let newInclude = null
                    let itemId = ``

                    props.clickMessage = clickMessage
                    props.groupName = this.props.groupName
                    if (!vars.title) { vars.title = startingItem.title }
                    if (`ListItem` === startingItem.type) {
                        itemId = `${this.id}ListItem${loop}`
                        newInclude = Component.createComponentInclude(`./html/components/list-item.html`, itemId, props, vars)
                    } else {
                        itemId = `${this.id}MenuItem${loop}`
                        newInclude = Component.createComponentInclude(`./html/components/menu-item.html`, itemId, props, vars)
                    }
                    await this.appendIncludeItem(newInclude, itemId)
                    Queue.register(this, clickMessage, (message) => {
                        if (message.id !== itemId) { return }
                        this.select(message)
                        this.close()
                    })
                }
                this.loadingMenuItems = undefined
            }
            select(message) {
                this.vars.selectTitle = message.vars.title
            }
            async loadDataList() {
                if (!this.props.dataList) { return }

                const list = document.getElementById(this.props.dataList)

                if (!list) { return }
                for (let child of list.children) {
                    if (`option` !== child.tagName.toLowerCase()) { return }

                    const value = child.getAttribute(`value`)

                    await this.appendString(value)
                }
            }
            async appendString(str, clickMessage, groupValue) {
                const count = this.vars.content.length
                const id = `${this.id}MenuItem${count}`
                const msg = (clickMessage)? clickMessage : Messages.ON_CLICK
                const value = (groupValue)? groupValue : str
                const props = { clickMessage: msg, selectOnFocus: true, groupName: this.props.groupName, groupValue: value, groupIndex: count }
                const vars = { title: str, tabIndex: 0 }
                const newInclude = Component.createComponentInclude(`./html/components/menu-item.html`, id, props, vars)

                await this.appendIncludeItem(newInclude, id)
            }
            async appendIncludeItem(includeItem, id) {
                this.Element.appendChild(includeItem)
                await Loader.loadIncludes()

                const newsItemObj = Component.getObject(id)

                this.appendItem(newsItemObj)
            }
            appendItem(item) {
                if (!item) { return }
                this.Element.appendChild(item.Element)
                this.vars.content.push(item)
            }
            async removeItemAt(index, destroy) {
                if (isNaN(index)) { 
                    console.error(`DropdownMenu.removeItemAt: Index must be a number. Index: ${index}`) 
                    return
                }
                if (0 > index) { 
                    console.error(`DropdownMenu.removeItemAt: Index cannot be negative. Index: ${index}`) 
                    return
                }
                if (this.vars.content.length <= index) { 
                    console.error(`DropdownMenu.removeItemAt: Index must be less than ${this.vars.content.length}. Index: ${index}`) 
                    return
                }

                const objectToRemove = this.vars.content[index]

                if (destroy && Component.isObjectRegistered(objectToRemove.id)) { 
                    await ComponentLifecycle.destroyComponentObject(objectToRemove.id) 
                }
                this.vars.content.splice(index, 1)
            }
            async removeAllItems(destroy) {
                let length = this.vars.content.length
                let count = 0;

                while (this.vars.content.length > 0) { 
                    await this.removeItemAt(0, destroy)
                    count++
                    if (count >= length) { break }
                }
            }
            async enableItemAt(index, enabled) {
                if (isNaN(index)) { 
                    console.error(`DropdownMenu.enableItemAt: Index must be a number. Index: ${index}`) 
                    return
                }
                if (0 > index) { 
                    console.error(`DropdownMenu.enableItemAt: Index cannot be negative. Index: ${index}`) 
                    return
                }
                if (this.vars.content.length <= index) { 
                    console.error(`DropdownMenu.enableItemAt: Index must be less than ${this.vars.content.length}. Index: ${index}`) 
                    return
                }

                const objectToEnable = this.vars.content[index]

                objectToEnable.enabled = enabled
            }
            async open() {
                await Queue.broadcast(Messages.DROPDOWN_BEFORE_OPENED, this)
                if (0 === this.vars.content.length) { 
                    await this.loadMenuItems() 
                    await this.loadDataList() 
                }
                this.calcLocation()
                this.Element.removeClass(`dropdown-menu-hidden`)
                this.Element.addClass(`dropdown-menu`)

                let selectedFirst = false

                for (let loop = 0; loop < this.vars.content.length; loop++) {
                    const menuItem = this.vars.content[loop]

                    if (!menuItem.isEnabled()) { continue }
                    if (!selectedFirst) {
                        menuItem.focus() 
                        selectedFirst = true
                    } else {
                        if (menuItem.vars.selected) { menuItem.unselect() }
                    }
                }
                this.vars.isOpen = true
                await Queue.broadcast(Messages.DROPDOWN_AFTER_OPENED, this)
            }
            async close() {
                await Queue.broadcast(Messages.DROPDOWN_BEFORE_CLOSED, this)
                this.Element.addClass(`dropdown-menu-hidden`)
                this.Element.removeClass(`dropdown-menu`)
                this.vars.isOpen = false
                await Queue.broadcast(Messages.DROPDOWN_AFTER_CLOSED, this)
            }
            isOpen() { return this.vars.isOpen }
            getSelectedMenuItem() {
                for (let menuItem of this.vars.content) {
                    if (menuItem.isSelected && menuItem.isSelected()) { return menuItem }
                }
                return null
            }
            async toggleMenu() { 
                if (this.Element.hasClass(`dropdown-menu-hidden`)) { await this.open() }
                else { this.close() }
            }
            calcLocation() {
                if (!this.props.anchorId) {
                    console.error(`${this.className()}: The prop anchorId must be set in order to position the menu.`)
                    return
                }
                if (this.props.anchorId === this.id) {
                    console.error(`${this.className()}: Menu cannot be its own anchor.`)
                    return
                }

                const anchorElement = document.getElementById(this.props.anchorId)

                if (!anchorElement) {
                    console.error(`${this.className()}: Anchor element with id of ${this.props.anchorId} was not found.`)
                    return
                }

                const boundingClientRect = anchorElement.getBoundingClientRect()
                const bottom = `${boundingClientRect.bottom}px`

                this.Element.style.top = bottom
            }
            props = {
                anchorId: ``,
                groupName: ``,
                dataList: ``,
            }
            vars = {
                menuItems: [],
                selectTitle: ``,
                tabIndex: 0,
                content: [],
                isOpen: false
            }
        }
    </script>
    <style>
        :root {
            --dropdown-menu-position: absolute;
            --dropdown-menu-display: flex;
            --dropdown-menu-display-hidden: none;
            --dropdown-menu-flex-direction: column;
            --dropdown-menu-max-height: 150px;
            --dropdown-menu-z-index: var(--z-layer2);
            --dropdown-menu-overflow-y: scroll;
            --dropdown-menu-background-color: var(--background-color);
            --dropdown-menu-min-width: 160px;
            --dropdown-menu-border-color: var(--default-border-color);
            --dropdown-menu-border-width: var(--default-border-width);
            --dropdown-menu-border-style: var(--default-border-style);
            --dropdown-menu-border-radius: var(--default-border-radius);
            --dropdown-menu-box-shadow: var(--default-box-shadow);
        }
        [data-theme="grey-glass"] {
            --dropdown-menu-background-color: var(--grey-glass-trans-4);
            --dropdown-menu-border-radius: 10px;
        }
        .dropdown-menu {
            position: var(--dropdown-menu-position);
            display: var(--dropdown-menu-display);
            flex-direction: var(--dropdown-menu-flex-direction);
            max-height: var(--dropdown-menu-max-height);
            z-index: var(--dropdown-menu-z-index);
            overflow-y: var(--dropdown-menu-overflow-y);
            background-color: var(--dropdown-menu-background-color);
            min-width: var(--dropdown-menu-min-width);
            border-color: var(--dropdown-menu-border-color);
            border-width: var(--dropdown-menu-border-width);
            border-style: var(--dropdown-menu-border-style);
            border-radius: var(--dropdown-menu-border-radius);
            box-shadow: var(--dropdown-menu-box-shadow);
        }
        .dropdown-menu-hidden {
            position: var(--dropdown-menu-position);
            display: var(--dropdown-menu-display-hidden);
            flex-direction: var(--dropdown-menu-flex-direction);
            background-color: var(--dropdown-menu-background-color);
            min-width: var(--dropdown-menu-min-width);
            box-shadow: var(--dropdown-menu-box-shadow);
            z-index: var(--dropdown-menu-z-index);
        }
    </style>
    <component-markup>
        <div id="{id}" class="dropdown-menu-hidden" tabindex="{tabIndex}" onfocus="$obj.onFocus()" onblur="$obj.onBlur()"></div>
    </component-markup>
    <script data-is-test="true">
    </script>
</custom-component>
