<vanilla-component>
    <script>
        class Login{
            className() {return this.constructor.name }
            initialize(componentObjectId) { this.props.componentObjectId = componentObjectId }
            beforeMount() { }
            afterMount() { }
            beforeUnmount() { }
            afterUnmount() { }
            async login() {
                let user = Vanilla.getComponentObject(`LoginUser`)
                let password = Vanilla.getComponentObject(`LoginPassword`)
                let login = {name: ``, password: ``}

                if (!user.vars.valid || !password.vars.valid) {
                    alert(`Invalid user name or password.`)
                    return
                }
                login.name = user.vars.value
                login.password = password.vars.value

                const response = await fetch(`http://localhost:8080/login-attempt`, {
                    method: 'POST', 
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(login)
                });
                if (200 !== response.status) { 
                    if (500 >= response.status) { alert(`Login not accepted.`) }
                    else { alert(`Error processing login.`) }
                    return
                 }
                let token = await response.text()
                
                this.storeCredentials(JSON.parse(token))
            }
            storeCredentials(token) {
                const indexedDB = window.indexedDB || window.mozIndexedDB || window.webkitIndexedDB || window.msIndexedDB || window.shimIndexedDB

                if (!indexedDB) { alert(`Error storing credentials. IndexedDB not found.`) }
                
                const request = indexedDB.open(`tokens`, 1)

                request.onerror = (event) => {
                    alert(`Error storing credentials.`)
                }
                request.onupgradeneeded = function () {
                    const db = request.result
                    const store = db.createObjectStore(`tokens`, { keyPath: `id` })
                }
                request.onsuccess = function () {
                    const db = request.result;
                    const transaction = db.transaction(`tokens`, `readwrite`)
                    const store = transaction.objectStore(`tokens`)

                    store.put({ id: `user`, token: token });
                    transaction.oncomplete = async function () { 
                        await db.close()
                        window.location.href = `/index`
                    }
                }

            }
            props = {
                componentObjectId: ``,
            }
        }
    </script>
    <test-script>
    </test-script>
    <style>
    </style>
    <component-markup>
        <span>
        <section id="login-page" class="flex-row flex-center margin-5 bg-grey-e w100">
            <span id="login-page-border" class="flex-col round-5px border-solid border-2 border-blue-50 w400px h100 pad-10">
                <h1 id="login-page-title" class="header-6 margin-5 w100 center-text">Login To Vince Drives You</h1>
                <span id="login-page-form" class="flex-row flex-space-between">
                    <span id="login-page-fields" class="flex-col">
                        <include-html include-in="index.html" src="./html/components/text-field.html" component-class="TextField" component-id="LoginUser">
                            <include-props class="display-none">{ name: `UserField`, placeholder: `User`, label: `User`, labelAboveField: false, required: true, autofocus: true, autocomplete: true, minlength: 2 }</include-props>
                            <include-vars class="display-none">{ type: `text` } </include-vars>
                        </include-html>
                        <include-html include-in="index.html" src="./html/components/text-field.html" component-class="TextField" component-id="LoginPassword">
                            <include-props class="display-none">{ name: `PasswordField`, label: `Password`, labelAboveField: false, required: true, minlength: 2, size: 22 }</include-props>
                            <include-vars class="display-none">{ type: `password` }</include-vars>
                        </include-html>
                    </span>
                    <span id="login-page-button">
                        <div id="login-button" class="flex-row flex-align-start w100 margin-t-25" onclick="$obj.login()">
                            <div class="button">Login</div>
                        </div>
                    </span>
                </span>
            </span>
        </section>
    </span>
    </component-markup>
</vanilla-component>


