<custom-component>
    <script>
        //# sourceURL=html/components/news/edit-news.html
        class EditNews extends Component {
            initialize(id) {
                super.initialize(id)
                Queue.register(this, Messages.MODAL_OK, async (modal) => {
                    if (!this.vars.newsItem) { await this.save() }
                    else { await this.update() }
                    modal.hide()
                })
                Queue.register(this, Messages.MODAL_CANCEL, (modal) => {
                    modal.hide()
                })
            }
            onDescendantsMounted() { 
                super.onDescendantsMounted()
                this.fileSelectorField = document.getElementById(`${this.id}FileSelector`)
                this.titleField = document.getElementById(`${this.id}Title`)
                this.textField = document.getElementById(`${this.id}Text`)
                this.fileSelectorObj = Component.getObject(`${this.id}FileSelector`)
                this.titleObj = Component.getObject(`${this.id}Title`)
                this.textObj = Component.getObject(`${this.id}Text`)
            }
            setNewsItem(newsItem) {
                this.vars.newsItem = newsItem
                this.fileSelectorField.value = ``
                this.titleField.value = newsItem.title
                this.textField.value = newsItem.text
            }
            async save() {
                    if (!this.fileSelectorField || !this.titleField || !this.textField || !this.fileSelectorObj || !this.titleObj || !this.textObj) {
                        showError(`Error getting news data.`)
                        return
                    }
                    if (!this.fileSelectorObj.vars.selectedFile) {
                        showError(`${this.imageURLObj.props.name} is invalid.`)
                        return
                    }
                    if (!this.titleObj.vars.valid) {
                        showError(`${this.titleObj.props.name} is invalid.`)
                        return
                    }
                    if (!this.textObj.vars.valid) {
                        showError(`${this.textObj.props.name} is invalid.`)
                        return
                    }
                    
                    const response = await SINews.add(this.fileSelectorObj.vars.selectedFile, this.titleField.value, this.textField.value)

                    if (200 !== response.status) {
                        showError(`Error adding news. Status code ${response.status}.`)
                        return
                    }

                    const content = await response.json()
                    const newsObj = Component.getObject(`News`)
                    let news = {title: this.titleField.value, text: this.textField.value }

                    news.file = content.payload.newRecord.file
                    news.id = content.payload.newRecord.id
                    newsObj.completeAddNews(news)
                    JavascriptWebToken.storeCredentials(content.jwt)
                    showInfo(`News added.`)
                    Component.getObject(`NewsEditDialog`)?.hide()
            }
            async update() {
                alert(JSON.stringify(this.vars.newsItem))
                this.vars.newsItem = null
                // PUT
            }
            vars = {
                newsItem: null
            }
        }
    </script>
    <style>
    </style>
    <component-markup>
        <span id="{id}" class="flex-col">
            <include-html include-in="edit-news.html" src="./html/components/file-selector.html" component-class="FileSelector" component-id="{id}FileSelector"></include-html>
            <include-html include-in="edit-news.html" src="./html/components/text-field.html" component-class="TextField" component-id="{id}Title">
                <include-props class="display-none">{ name: `Title`, placeholder: `Title`, label: `Title`, labelAboveField: false, required: true, minlength: 2, maxlength: 75, tabIndex: 2 }</include-props>
                <include-vars class="display-none">{ type: `text` } </include-vars>
            </include-html>
            <include-html include-in="edit-news.html" src="./html/components/text-area.html" component-class="TextArea" component-id="{id}Text">
                <include-props class="display-none">{ name: `Text`, placeholder: `Text`, label: `Text`, labelAboveField: false, required: true, minlength: 2, maxlength: 400, cols: 50, rows: 9, tabIndex: 3 }</include-props>
                <include-vars class="display-none">{ type: `text` } </include-vars>
            </include-html>
        </span>
    </component-markup>
    <test-script>
    </test-script>
</custom-component>
