<custom-component>
    <script>
        //# sourceURL=html/components/news/news.html
        class News extends Component {
            initialize(id) { 
                super.initialize(id)
                Queue.register(this, Messages.SITE_LOADED, () => {
                    this.loadNews()
                })
            }
            async loadNews () {
                const response = await fetch('http://localhost:8080/news-info', {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                    }
                })

                if (200 === response.status) { 
                    let news = await response.json()          
                    this.vars.news = news.reverse()
                    this.vars.newsIndex = 0
                    this.showNews()
                    this.setNewsTimer()
                } else {
                    showError(`Error retrieving news. Status code ${response.status}.`)
                }
            }
            setNewsTimer() {
                const newsTimer = () => { this.nextNews() }
                
                this.vars.newsTimer = setInterval(newsTimer, 10000)
            }
            clearNewsTimer() { if (this.vars.newsTimer) { clearInterval(this.vars.newsTimer) }}
            showNews() {
                const news = this.vars.news[this.vars.newsIndex]

                this.vars.newsPhotoURL = `./images/${news.file}`
                this.vars.newsTitle = news.title
                this.vars.newsText = news.text
                this.NewsTitleElement.innerText = news.title
                this.NewsTextElement.innerText = news.text
            }
            previousNews() {
                this.vars.newsIndex--
                if (this.vars.newsIndex < 0) { this.vars.newsIndex = this.vars.news.length - 1 }
                this.showNews()
            }
            nextNews() {
                this.vars.newsIndex++
                if (this.vars.newsIndex >= this.vars.news.length) { this.vars.newsIndex = 0 }
                this.showNews()
            }
            addNews() {
                Component.getObject(`${this.id}EditDialog`).show()
            }
            editNews() {
                
            }
            deleteNews() {
                
            }
            prependNews(news) { this.vars.news.unshift(news) }
            vars = {
                newsIndex: 0,
                news: [],
                newsPhotoURL: ``,
                newsTitle: ``,
                newsText: ``,
                newsTimer: null
            }
        }
    </script>
    <style>
    </style>
    <component-markup>
        <span id="{id}" class="absolute flex-row flex-align-center w450px bg-blue-gray-900 border-solid border-amber-500 border-2 z1" style="left: 30; top: 180">
            <span id="{id}PreviousButton" class="button font-weight-700" onclick="$obj.previousNews()">◀</span>
            <img id="{id}NewsPhoto" src="{newsPhotoURL}" height="130" onclick="$obj.clearNewsTimer()">
            <span id="{id}TextWrapper" class="flex-col bg-blue-gray-50 w350px h130px" onclick="$obj.clearNewsTimer()">
                <div id="{id}NewsTitle" class="pad-5 blue-gray-900 subtitle-2 h50px"></div>
                <div id="{id}NewsText" class="pad-5 blue-gray-900 caption-1 h80px"></div>
            </span>
            <span id="{id}NextButton" class="button font-weight-700" onclick="$obj.nextNews()">▶</span>
            <span id="{id}Editing" class="flex-col z1">
                <span id="{id}AddButton" class="button" onclick="$obj.addNews()">Add</span>
                <span id="{id}EditButton" class="button" onclick="$obj.editNews()">Edit</span>
                <span id="{id}DeleteButton" class="button" onclick="$obj.deleteNews()">Delete</span>
            </span>
            <include-html include-in="index.html" src="./html/components/modal-dialog.html" component-class="ModalDialog" component-id="{id}EditDialog"></include-html>
            <slot-markup for-component-id="{id}EditDialog" for-slot="{id}EditDialogContentSlot">
                <include-html include-in="index.html" src="./html/components/news/edit-news.html" component-class="EditNews" component-id="{id}Edit"></include-html>
            </slot-markup>
        </span>
    </component-markup>
    <test-script>
    </test-script>
</custom-component>


