<custom-component>
    <script>
        //# sourceURL=html/components/news/news.html
        class News extends Component {
            initialize(id) { 
                super.initialize(id)
                Queue.register(this, Messages.SITE_LOADED, () => {
                    this.loadNews()
                })
                Queue.register(this, Messages.DELETE_NEWS, (newsItem) => { this.completeDeleteNews(newsItem) })
                Queue.register(this, Messages.EDIT_NEWS, (newsItem) => { this.showEditNewsDialog(newsItem) })
            }
            async loadNews () {
                let credentials = JavascriptWebToken.getCredentials()

                if (!JavascriptWebToken.areCredentialsValid(credentials) || !credentials?.roles || !credentials.roles.includes("Admin")) {
                    this.EditingElement.classList.add(`display-none`)
                }

                const response = await SINews.get()

                if (200 !== response.status) { 
                    showError(`Error retrieving news. Status code ${response.status}.`)
                    return
                }

                let news = await response.json() 

                this.vars.news = news.reverse()
                this.vars.newsIndex = 0
                this.showNews()
                this.setNewsTimer()
            }
            setNewsTimer() {
                const newsTimer = () => { this.nextNews() }
                
                this.vars.newsTimer = setInterval(newsTimer, 10000)
            }
            clearNewsTimer() { if (this.vars.newsTimer) { clearInterval(this.vars.newsTimer) }}
            showNews() {
                const news = this.vars.news[this.vars.newsIndex]

                this.vars.newsPhotoURL = `./images/${news.file}`
                this.vars.newsTitle = news.title
                this.vars.newsText = news.text
                this.NewsTitleElement.innerText = news.title
                this.NewsTextElement.innerText = news.text
            }
            previousNews() {
                this.vars.newsIndex--
                if (this.vars.newsIndex < 0) { this.vars.newsIndex = this.vars.news.length - 1 }
                this.showNews()
            }
            nextNews() {
                this.vars.newsIndex++
                if (this.vars.newsIndex >= this.vars.news.length) { this.vars.newsIndex = 0 }
                this.showNews()
            }
            beginAddNews() { Component.getObject(`${this.id}EditDialog`).show() }
            completeAddNews(news) { this.vars.news.unshift(news) }
            async beginEditNews() {
                const newsListRootElement = document.getElementById(`${this.id}NewsList`)
                const newsListRootObj = Component.getObject(`${this.id}NewsList`)

                await newsListRootObj.loadNews()
                newsListRootObj.setTitle(`Edit A News Item`)
                newsListRootObj.setMessage(Messages.EDIT_NEWS)
                newsListRootElement.classList.toggle(`display-none`)
            }
            showEditNewsDialog(news) { 
                const newsListRootElement = document.getElementById(`${this.id}NewsList`)
                const editDialogObj = Component.getObject(`${this.id}EditDialog`)
                const editObj = Component.getObject(`${this.id}Edit`)

                newsListRootElement.classList.toggle(`display-none`)
                editObj.setNewsItem(news)
                editDialogObj.show()
            }
            completeEditNews(news) { 
                for (let loop = 0; loop < this.vars.news.length; loop++) {
                    const newsItem = this.vars.news[loop]

                    if (newsItem.id !== news.id) { continue }
                    this.vars.news[loop] = news
                    break
                }
            }
            async beginDeleteNews() {
                const newsListRootElement = document.getElementById(`${this.id}NewsList`)
                const newsListRootObj = Component.getObject(`${this.id}NewsList`)

                await newsListRootObj.loadNews()
                newsListRootObj.setTitle(`Delete A News Item`)
                newsListRootObj.setMessage(Messages.DELETE_NEWS)
                newsListRootElement.classList.toggle(`display-none`)
            }
            async completeDeleteNews(news) {
                if (!confirm(`Delete news item ${news.title}?`)) { return }
                
                const response = await SINews.remove(news.id)

                if (200 !== response.status) {
                    showError(`Error deleting news. Status code ${response.status}.`)
                    return
                }

                const newsListRootElement = document.getElementById(`${this.id}NewsList`)

                newsListRootElement.classList.toggle(`display-none`)
                for (let loop = 0; loop < this.vars.news.length; loop++) {
                    const newsItem = this.vars.news[loop]

                    if (newsItem.id !== news.id) { continue }
                    this.vars.news.splice(loop, 1)
                    showInfo(`News item deleted.`)
                    return
                }
                showError(`Error deleting news.`)                
            }
            vars = {
                newsIndex: 0,
                news: [],
                newsPhotoURL: ``,
                newsTitle: ``,
                newsText: ``,
                newsTimer: null
            }
        }
    </script>
    <style>
    </style>
    <component-markup>
        <span id="{id}" class="absolute-m-static flex-row flex-align-center w450px bg-blue-gray-900 border-solid border-amber-500 border-2 z1" style="left: 30px; top: 30px">
            <span id="{id}PreviousButton" class="button font-weight-700" onclick="$obj.previousNews()">◀</span>
            <img id="{id}NewsPhoto" src="{newsPhotoURL}" height="130" onclick="$obj.clearNewsTimer()">
            <span id="{id}TextWrapper" class="flex-col bg-blue-gray-50 w350px h130px" onclick="$obj.clearNewsTimer()">
                <div id="{id}NewsTitle" class="pad-5 blue-gray-900 subtitle-2 h50px"></div>
                <div id="{id}NewsText" class="pad-5 blue-gray-900 caption-1 h80px"></div>
            </span>
            <span id="{id}NextButton" class="button font-weight-700" onclick="$obj.nextNews()">▶</span>
            <span id="{id}Editing" class="flex-col z1">
                <span id="{id}AddButton" class="button" onclick="$obj.beginAddNews()">Add</span>
                <span id="{id}EditButton" class="button" onclick="$obj.beginEditNews()">Edit</span>
                <span id="{id}DeleteButton" class="button" onclick="$obj.beginDeleteNews()">Delete</span>
            </span>
            <include-html include-in="index.html" src="./html/components/modal-dialog.html" component-class="ModalDialog" component-id="{id}EditDialog"></include-html>
            <slot-markup for-component-id="{id}EditDialog" for-slot="{id}EditDialogContentSlot">
                <include-html include-in="index.html" src="./html/components/news/edit-news.html" component-class="EditNews" component-id="{id}Edit"></include-html>
            </slot-markup>
            <include-html include-in="index.html" src="./html/components/news/news-list.html" component-class="NewsList" component-id="{id}NewsList"></include-html>
        </span>
    </component-markup>
    <test-script>
    </test-script>
</custom-component>


