<custom-component>
    <script>
        //# sourceURL=html/components/admin/admin-users-tab-bar.html
        class AdminUsersTabBar extends Component { }
    </script>
    <style>
    </style>
    <component-markup>
        <div id="{id}" class="w100 display-none">
            <div id="{id}Photos" class="w100">
              <div id="{id}UsersAdd" class="w100">
                <include-html include-in="admin-page.html" src="./html/components/tab-content.html" component-class="TabContent" component-id="{id}UsersAddTabContent">
                  <include-props class="display-none">{ tabBarId: `AdminUsersTabBar`, tab: `Add` }</include-props>
                </include-html>
                <slot-markup for-component-id="{id}UsersAddTabContent" for-slot="{id}UsersAddTabContentSlot">
                  <include-html include-in="admin-page.html" src="./html/components/news/edit-news.html" component-class="EditUsers" component-id="{id}UsersAddComponent"></include-html>
                </slot-markup>
              </div>
    
              <div id="{id}UsersEdit" class="w100">
                <include-html include-in="admin-page.html" src="./html/components/tab-content.html" component-class="TabContent" component-id="{id}UsersEditTabContent">
                  <include-props class="display-none">{ tabBarId: `AdminUsersTabBar`, tab: `Edit` }</include-props>
                </include-html>
                <slot-markup for-component-id="{id}UsersEditTabContent" for-slot="{id}UsersEditTabContent">
                  <include-html include-in="admin-page.html" src="./html/components/news/news-list.html" component-class="UsersList" component-id="{id}UsersEditList">
                    <include-vars class="display-none">{ message: Messages.EDIT_NEWS }</include-vars>
                  </include-html>
                  <div class="h10px"></div>
                  <include-html include-in="admin-page.html" src="./html/components/news/edit-news.html" component-class="EditUsers" component-id="{id}UsersEditComponent"></include-html>
                </slot-markup>
              </div>
    
              <div id="{id}UsersDelete" class="w100">
                <include-html include-in="admin-page.html" src="./html/components/tab-content.html" component-class="TabContent" component-id="{id}UsersDeleteTabContent">
                  <include-props class="display-none">{ tabBarId: `AdminUsersTabBar`, tab: `Delete` }</include-props>
                </include-html>
                <slot-markup for-component-id="{id}UsersDeleteTabContent" for-slot="{id}UsersDeleteTabContent">
                  <include-html include-in="admin-page.html" src="./html/components/news/news-list.html" component-class="UsersList" component-id="{id}UsersDeleteList">
                    <include-vars class="display-none">{ message: Messages.DELETE_NEWS }</include-vars>
                  </include-html>
                </slot-markup>
              </div>
            </div>
          </div>
        </div>
    </component-markup>
    <test-script>
    </test-script>
</custom-component>


