<custom-component>
    <script>
        //# sourceURL=html/components/reservations/address.html
        class Address extends Component {
            onChildrenMounted() {
                super.onChildrenMounted()

                const testState = async () => {
                    let results = []
                    const states = [`AL`, `AK`, `AZ`, `AR`, `AS`, `CA`, `CO`, `CT`, `DE`, `DC`, `FL`, `GA`, `GU`, `HI`, `ID`, `IL`, `IN`, `IA`,
                        `KS`, `KY`, `LA`, `ME`, `MD`, `MA`, `MI`, `MN`, `MS`, `MO`, `MT`, `NE`, `NV`, `NH`, `NJ`, `NM`, `NY`, `NC`, `ND`, `MP`,
                        `OH`, `OK`, `OR`, `PA`, `PR`, `RI`, `SC`, `SD`, `TN`, `TX`, `TT`, `UT`, `VT`, `VA`, `VI`, `WA`, `WV`, `WI`, `WY`]

                    assert(states.includes(this.State.Element.value),                        `Field '${this.State.props.label}' is a valid state code.`, results, true)
                    return results
                }

                this.State.vars.customValidationTests.push(testState)
            }
            clearData() {
                this.Address.Element.value = ''
                this.Address2.Element.value = ''
                this.City.Element.value = ''
                this.State.Element.value = ''
                this.Date.Element.value = ''
                this.Time.Element.value = ''
            }
            setIndexes(firstIndex) {
                this.Address.Element.tabindex = firstIndex
                this.Address2.Element.tabindex = firstIndex + 1
                this.City.Element.tabindex = firstIndex + 2
                this.State.Element.tabindex = firstIndex + 3
                this.Date.Element.tabindex = firstIndex + 4
                this.Time.Element.tabindex = firstIndex + 5
            }
            getFieldCount() { return 6 }
            getData() {
                const addressObj = this.Address
                const address2Obj = this.Address2
                const cityObj = this.City
                const stateObj = this.State
                const dateObj = this.Date
                const timeObj = this.Time

                if (!addressObj || !address2Obj || !cityObj || !stateObj || !dateObj || !timeObj) {
                    this.showError(`Error getting address data.`)
                    return null
                }
                if (!addressObj.vars.valid) {
                    this.showError(`${addressObj.props.name} is invalid.`)
                    return null
                }
                if (!address2Obj.vars.valid) {
                    this.showError(`${address2Obj.props.name} is invalid.`)
                    return null
                }
                if (!cityObj.vars.valid) {
                    this.showError(`${cityObj.props.name} is invalid.`)
                    return null
                }
                if (!stateObj.vars.valid) {
                    this.showError(`${stateObj.props.name} is invalid.`)
                    return null
                }
                if (!dateObj.vars.valid) {
                    this.showError(`${dateObj.props.name} is invalid.`)
                    return null
                }
                if (!timeObj.vars.valid) {
                    this.showError(`${timeObj.props.name} is invalid.`)
                    return null
                }

                const address = this.Address.Element.value
                const address2 = this.Address2.Element.value
                const city = this.City.Element.value
                const state = this.State.Element.value
                const date = this.Date.Element.value
                const time = this.Time.Element.value

                return { address, address2, city, state, date, time }
            }
            showError(message) {
                let errorSnackbar = Component.getObject(`SnackbarError`)
                        
                errorSnackbar.vars.text = message
                errorSnackbar.show()
            }
            props = {
                title: ``
            }
        }
    </script>
    <test-script>
    </test-script>
    <style>
    </style>
    <component-markup>
        <div id="{id}">
            <div>
                <include-html include-in="reservations.html" src="./html/components/text-field.html" component-class="TextField" component-id="{id}Address">
                    <include-props class="display-none">{ name: `Address`, placeholder: `Address`, label: `Address`, labelAboveField: false, required: true, minlength: 2, maxlength: 75, tabindex: 1 }</include-props>
                    <include-vars class="display-none">{ type: `text` } </include-vars>
                </include-html>
                <include-html include-in="reservations.html" src="./html/components/text-field.html" component-class="TextField" component-id="{id}Address2">
                    <include-props class="display-none">{ name: `Address2`, placeholder: `Apt, Suite, etc.`, label: `Address 2`, labelAboveField: false, required: false, minlength: 1, maxlength: 75, tabindex: 2 }</include-props>
                    <include-vars class="display-none">{ type: `text` } </include-vars>
                </include-html>
                <include-html include-in="reservations.html" src="./html/components/text-field.html" component-class="TextField" component-id="{id}City">
                    <include-props class="display-none">{ name: `City`, placeholder: `City`, label: `City`, labelAboveField: false, required: true, minlength: 2, maxlength: 50, tabindex: 3 }</include-props>
                    <include-vars class="display-none">{ type: `text` } </include-vars>
                </include-html>
                <include-html include-in="review-header-editable.html" src="./html/components/text-field.html" component-class="TextField" component-id="{id}State">
                    <include-props class="display-none">{ name: `State`, label: `State`, labelAboveField: false, list: `{title}StateList`, required: true, minlength: 2, maxlength: 2, tabindex: 4 }</include-props>
                    <include-vars class="display-none">{ type: `text` } </include-vars>
                </include-html>
                <datalist id="{title}StateList">
                    <option value="AL (Alabama)"></option>
                    <option value="AK (Alaska)"></option>
                    <option value="AZ (Arizona)"></option>
                    <option value="AR (Arkansas)"></option>
                    <option value="AS (American Samoa)"></option>
                    <option value="CA (California)"></option>
                    <option value="CO (Colorado)"></option>
                    <option value="CT (Connecticut)"></option>
                    <option value="DE (Delaware)"></option>
                    <option value="DC (District of Columbia)"></option>
                    <option value="FL (Florida)"></option>
                    <option value="GA (Georgia)"></option>
                    <option value="GU (Guam)"></option>
                    <option value="HI (Hawaii)"></option>
                    <option value="ID (Idaho)"></option>
                    <option value="IL (Illinois)"></option>
                    <option value="IN (Indiana)"></option>
                    <option value="IA (Iowa)"></option>
                    <option value="KS (Kansas)"></option>
                    <option value="KY (Kentucky)"></option>
                    <option value="LA (Louisiana)"></option>
                    <option value="ME (Maine)"></option>
                    <option value="MD (Maryland)"></option>
                    <option value="MA (Massachusetts)"></option>
                    <option value="MI (Michigan)"></option>
                    <option value="MN (Minnesota)"></option>
                    <option value="MS (Mississippi)"></option>
                    <option value="MO (Missouri)"></option>
                    <option value="MT (Montana)"></option>
                    <option value="NE (Nebraska)"></option>
                    <option value="NV (Nevada)"></option>
                    <option value="NH (New Hampshire)"></option>
                    <option value="NJ (New Jersey)"></option>
                    <option value="NM (New Mexico)"></option>
                    <option value="NY (New York)"></option>
                    <option value="NC (North Carolina)"></option>
                    <option value="ND (North Dakota)"></option>
                    <option value="MP (Northern Mariana Islands)"></option>
                    <option value="OH (Ohio)"></option>
                    <option value="OK (Oklahoma)"></option>
                    <option value="OR (Oregon)"></option>
                    <option value="PA (Pennsylvania)"></option>
                    <option value="PR (Puerto Rico)"></option>
                    <option value="RI (Rhode Island)"></option>
                    <option value="SC (South Carolina)"></option>
                    <option value="SD (South Dakota)"></option>
                    <option value="TN (Tennessee)"></option>
                    <option value="TX (Texas)"></option>
                    <option value="TT (Trust Territories)"></option>
                    <option value="UT (Utah)"></option>
                    <option value="VT (Vermont)"></option>
                    <option value="VA (Virginia)"></option>
                    <option value="VI (Virgin Islands)"></option>
                    <option value="WA (Washington)"></option>
                    <option value="WV (West Virginia)"></option>
                    <option value="WI (Wisconsin)"></option>
                    <option value="WY (Wyoming)"></option>
                </datalist>
                <include-html include-in="reservations.html" src="./html/components/text-field.html" component-class="TextField" component-id="{id}Date">
                    <include-props class="display-none">{ name: `Date`, label: `Date`, labelAboveField: false, required: true, minlength: 10, maxlength: 10, tabindex: 5 }</include-props>
                    <include-vars class="display-none">{ type: `date` } </include-vars>
                </include-html>
                <include-html include-in="reservations.html" src="./html/components/text-field.html" component-class="TextField" component-id="{id}Time">
                    <include-props class="display-none">{ name: `Time`, label: `Time`, labelAboveField: false, required: true, minlength: 5, maxlength: 5, tabindex: 6 }</include-props>
                    <include-vars class="display-none">{ type: `time` } </include-vars>
                </include-html>
            </div>
        </div>
    </component-markup>
</custom-component>