<custom-component>
    <script>
        //# sourceURL=html/components/reservations/address.html
        class Address extends Component {
            onChildrenMounted() {
                super.onChildrenMounted()
                const testState = async () => {
                    let results = []
                    const states = [`AZ`, `CA`, `CO`, `NV`, `NM`, `UT`]

                    assert(states.includes(this.State.Element.value),                        `Field '${this.State.props.label}' is a valid state code.`, results, true)
                    return results
                }
                const testDate = async () => {
                    let results = []
                    function dateIsNotBeforeToday(date) {
                        const today = new Date()

                        today.setHours(0, 0, 0, 0)
                        return date >= today
                    }

                    let parts = this.Date.Element.value.split("-")
                    let day = new Date(parseInt(parts[0], 10), parseInt(parts[1], 10) - 1, parseInt(parts[2], 10))
                    assert(dateIsNotBeforeToday(day),                                       `Field '${this.Date.props.label}' is a not in the past.`, results, true)
                    return results
                }
                const testTime = async () => {
                    let results = []
                    function timeIsNotBeforeToday(date) {
                        const today = new Date()

                        return date >= today
                    }

                    let dateParts = this.Date.Element.value.split("-")
                    let timeParts = this.Time.Element.value.split(":")
                    let day = new Date(parseInt(dateParts[0], 10), parseInt(dateParts[1], 10) - 1, parseInt(dateParts[2], 10), parseInt(timeParts[0], 10), parseInt(timeParts[1], 10))
                    assert(timeIsNotBeforeToday(day),                                       `Field '${this.Time.props.label}' is a not in the past.`, results, true)
                    return results
                }

                this.Date.vars.customValidationTests.push(testDate)
                this.Time.vars.customValidationTests.push(testTime)
            }
            clearData() {
                this.Address.Element.value = ''
                this.Address2.Element.value = ''
                this.City.Element.value = ''
                this.State.Element.value = ''
                this.Zip.Element.value = ''
                this.Date.Element.value = ''
                this.Time.Element.value = ''
            }
            setIndexes(firstIndex) {
                this.Address.Element.tabIndex = firstIndex
                this.Address2.Element.tabIndex = firstIndex + 1
                this.City.Element.tabIndex = firstIndex + 2
                this.State.Element.tabIndex = firstIndex + 3
                this.Zip.Element.tabIndex = firstIndex + 4
                this.Date.Element.tabIndex = firstIndex + 5
                this.Time.Element.tabIndex = firstIndex + 6
            }
            getFieldCount() { if (this.vars.shortForm) { return 5 } else { return 7 }}
            setShortForm() {
                this.vars.shortForm = true
                this.State.Element.remove(5)
                this.State.Element.remove(4)
                this.State.Element.remove(3)
                this.State.Element.remove(2)
                this.State.Element.remove(1)
                this.Date.WrapperElement.classList.add(`display-none`)
                this.Time.WrapperElement.classList.add(`display-none`)
            }
            getData() {
                const addressObj = this.Address
                const address2Obj = this.Address2
                const cityObj = this.City
                const stateObj = this.State
                const zipObj = this.Zip
                const dateObj = this.Date
                const timeObj = this.Time

                if (!addressObj || !address2Obj || !cityObj || !stateObj || !zipObj || !dateObj || !timeObj) {
                    showError(`Error getting address data.`)
                    return null
                }
                if (!addressObj.vars.valid) {
                    showError(`${addressObj.props.name} is invalid.`)
                    return null
                }
                if (!address2Obj.vars.valid) {
                    showError(`${address2Obj.props.name} is invalid.`)
                    return null
                }
                if (!cityObj.vars.valid) {
                    showError(`${cityObj.props.name} is invalid.`)
                    return null
                }
                if (!zipObj.vars.valid) {
                    showError(`${zipObj.props.name} is invalid.`)
                    return null
                }
                if (this.Date?.Element?.value && !dateObj.vars.valid) {
                    showError(`${cityObj.props.name} is invalid.`)
                    return null
                }
                if (this.Time?.Element?.value && !timeObj.vars.valid) {
                    showError(`${stateObj.props.name} is invalid.`)
                    return null
                }

                const address = this.Address.Element.value
                const address2 = this.Address2.Element.value
                const city = this.City.Element.value
                const state = this.State.Element.value
                const zip = this.Zip.Element.value
                const date = this.Date?.Element?.value
                const time = this.Time?.Element?.value

                return { address, address2, city, state, zip, date, time }
            }
            props = {
                title: ``
            }
            vars = {
                shortForm: false
            }
        }
    </script>
    <style>
        input[type="date"]::-webkit-calendar-picker-indicator {
            background-color: var(--blue-gray-50);
        }
        input[type="time"]::-webkit-calendar-picker-indicator {
            background-color: var(--blue-gray-50);
        }
    </style>
    <component-markup>
        <div id="{id}">
            <div>
                <include-html include-in="address.html" src="./html/components/text-field.html" component-class="TextField" component-id="{id}Address">
                    <include-props class="display-none">{ name: `Address`, placeholder: `Address`, label: `Address`, labelAboveField: false, required: true, minlength: 2, maxlength: 75, tabindex: 201, showValidationErrors: `snackbar` }</include-props>
                    <include-vars class="display-none">{ type: `text` } </include-vars>
                </include-html>
                <include-html include-in="address.html" src="./html/components/text-field.html" component-class="TextField" component-id="{id}Address2">
                    <include-props class="display-none">{ name: `Address2`, placeholder: `Apt, Suite, etc.`, label: `Address 2`, labelAboveField: false, required: false, maxlength: 75, tabindex: 202, showValidationErrors: `snackbar` }</include-props>
                    <include-vars class="display-none">{ type: `text` } </include-vars>
                </include-html>
                <include-html include-in="address.html" src="./html/components/text-field.html" component-class="TextField" component-id="{id}City">
                    <include-props class="display-none">{ name: `City`, placeholder: `City`, label: `City`, labelAboveField: false, required: true, minlength: 2, maxlength: 50, tabindex: 203, showValidationErrors: `snackbar` }</include-props>
                    <include-vars class="display-none">{ type: `text` } </include-vars>
                </include-html>
                <include-html include-in="location.html" src="./html/components/select.html" component-class="Select" component-id="{id}State">
                    <include-props class="display-none">{ label: `State`, name: `State`, options: [{ value: `AZ`, text: `AZ (Arizona)` }, { value: `CA`, text: `CA (California)` }, { value: `CO`, text: `CO (Colorado)` }, { value: `NV`, text: `NV (Nevada)` }, { value: `NM`, text: `NM (New Mexico)` }, { value: `UT`, text: `UT (Utah)` }], tabindex: 1 }</include-props>
                </include-html>
                <include-html include-in="address.html" src="./html/components/text-field.html" component-class="TextField" component-id="{id}Zip">
                    <include-props class="display-none">{ name: `Zip`, placeholder: `Zip`, label: `Zip`, labelAboveField: false, required: true, minlength: 5, maxlength: 5, tabindex: 203, showValidationErrors: `snackbar` }</include-props>
                    <include-vars class="display-none">{ type: `text` } </include-vars>
                </include-html>
                <include-html include-in="address.html" src="./html/components/text-field.html" component-class="TextField" component-id="{id}Date">
                    <include-props class="display-none">{ name: `Date`, label: `Date`, labelAboveField: false, required: true, minlength: 10, maxlength: 10, tabindex: 205, showValidationErrors: `snackbar` }</include-props>
                    <include-vars class="display-none">{ type: `date` } </include-vars>
                </include-html>
                <include-html include-in="address.html" src="./html/components/text-field.html" component-class="TextField" component-id="{id}Time">
                    <include-props class="display-none">{ name: `Time`, label: `Time`, labelAboveField: false, required: true, minlength: 5, maxlength: 5, tabindex: 206, showValidationErrors: `snackbar` }</include-props>
                    <include-vars class="display-none">{ type: `time` } </include-vars>
                </include-html>
            </div>
        </div>
    </component-markup>
    <test-script>
    </test-script>
</custom-component>