<custom-component>
    <script>
        //# sourceURL=html/components/reservations/airport.html
        class Airport extends Component {
            afterMount() {
                let parent = this.getParentComponent()
                let tabIndexes = parent.getAirportTabIndexes()
                
                this.vars.airlineTabIndex = tabIndexes.airlineTabIndex
                this.vars.flightNumberTabIndex = tabIndexes.flightNumberTabIndex
                this.vars.arrivalDateTabIndex = tabIndexes.arrivalDateTabIndex
                this.vars.estimatedArrivalTimeTabIndex = tabIndexes.estimatedArrivalTimeTabIndex

                Queue.register(this, Messages.COMPONENT_AFTER_MOUNT, (component) => { 
                    const id = this.id
                    const stateFieldId = `${id}Airline`

                    if (stateFieldId !== component.id) { return }

                    const testState = async () => {
                        let results = []
                        const airlines = [`Advanced Air`, `Air Canada`, `Alaska Airlines`, `Allegiant`, `American Airlines`, `Breeze Airways`, `British Airways`, `Condor Airlines`,
                            `Contour Airlines`, `Delta Airlines`, `Denver Air Connection`, `Frontier Airlines`, `Hawaiian Airlines`, `JetBlue Airways`, 
                            `JSX - Jackson Jet Center`, `Lynx Air`, `Southern Airways Express`, `Southwest Airlines`, `Spirit Airlines`,
                            `Sun Country Airlines`, `United Airlines`, `Volaris`, `WestJet`]
                    
                        assert(airlines.includes(component.vars.element.value),                 `Field '${component.props.label}' is a valid airline.`, results, true)
                        return results
                    }

                    component.vars.customValidationTests.push(testState)
                })
                super.afterMount()
            }
            getData() {
                const airlineObj = Component.getObject(`${this.id}Airline`)
                const flightNumberObj = Component.getObject(`${this.id}FlightNumber`)
                const arrivalDateObj = Component.getObject(`${this.id}ArrivalDate`)
                const estimatedArrivalTimeObj = Component.getObject(`${this.id}EstimatedArrivalTime`)

                if (!airlineObj || !flightNumberObj || !arrivalDateObj || !estimatedArrivalTimeObj) {
                    this.showError(`Error getting airport data.`)
                    return null
                }
                if (!airlineObj.vars.valid) {
                    this.showError(`${airlineObj.props.name} is invalid.`)
                    return null
                }
                if (!flightNumberObj.vars.valid) {
                    this.showError(`${flightNumberObj.props.name} is invalid.`)
                    return null
                }
                if (!arrivalDateObj.vars.valid) {
                    this.showError(`${arrivalDateObj.props.name} is invalid.`)
                    return null
                }
                if (!estimatedArrivalTimeObj.vars.valid) {
                    this.showError(`${estimatedArrivalTimeObj.props.name} is invalid.`)
                    return null
                }

                const airline = document.getElementById(`${this.id}Airline`)?.value
                const flightNumber = document.getElementById(`${this.id}FlightNumber`)?.value
                const arrivalDate = document.getElementById(`${this.id}ArrivalDate`)?.value
                const estimatedArrivalTime = document.getElementById(`${this.id}EstimatedArrivalTime`)?.value

                return { airline, flightNumber, arrivalDate, estimatedArrivalTime }
            }
            showError(message) {
                let errorSnackbar = Component.getObject(`SnackbarError`)
                        
                errorSnackbar.vars.text = message
                errorSnackbar.show()
            }
            vars = {
                airlineTabIndex: 1,
                flightNumberTabIndex: 2,
                arrivalDateTabIndex: 3,
                estimatedArrivalTimeTabIndex: 4,
            }
        }
    </script>
    <test-script>
    </test-script>
    <style>
    </style>
    <component-markup>
        <div id="{id}">
            <div>
                <include-html include-in="reservations.html" src="./html/components/text-field.html" component-class="TextField" component-id="{id}Airline">
                    <include-props class="display-none">{ name: `Airline`, placeholder: `Airline`, label: `Airline`, labelAboveField: false, list: `{airlineTabIndex}AirlineList`, required: true, minlength: 2, maxlength: 30, tabindex: {airlineTabIndex} }</include-props>
                    <include-vars class="display-none">{ type: `text` } </include-vars>
                </include-html>
                <datalist id="{airlineTabIndex}AirlineList">
                    <option value="Advanced Air"></option>
                    <option value="Air Canada"></option>
                    <option value="Alaska Airlines"></option>
                    <option value="Allegiant"></option>
                    <option value="American Airlines"></option>
                    <option value="Breeze Airways"></option>
                    <option value="British Airways"></option>
                    <option value="Condor Airlines"></option>
                    <option value="Contour Airlines"></option>
                    <option value="Delta Airlines"></option>
                    <option value="Denver Air Connection"></option>
                    <option value="Frontier Airlines"></option>
                    <option value="Hawaiian Airlines"></option>
                    <option value="JetBlue Airways"></option>
                    <option value="JSX - Jackson Jet Center"></option>
                    <option value="Lynx Air"></option>
                    <option value="Southern Airways Express"></option>
                    <option value="Southwest Airlines"></option>
                    <option value="Spirit Airlines"></option>
                    <option value="Sun Country Airlines"></option>
                    <option value="United Airlines"></option>
                    <option value="Volaris"></option>
                    <option value="WestJet"></option>
                </datalist>
                <include-html include-in="reservations.html" src="./html/components/text-field.html" component-class="TextField" component-id="{id}FlightNumber">
                    <include-props class="display-none">{ name: `FlightNumber`, placeholder: `Flight Number`, label: `Flight Number`, labelAboveField: false, required: true, minlength: 2, maxlength: 30, tabindex: {flightNumberTabIndex} }</include-props>
                    <include-vars class="display-none">{ type: `text` } </include-vars>
                </include-html>
                <include-html include-in="reservations.html" src="./html/components/text-field.html" component-class="TextField" component-id="{id}ArrivalDate">
                    <include-props class="display-none">{ name: `ArrivalDate`, label: `Arrival Date`, labelAboveField: false, required: true, minlength: 10, maxlength: 10, tabindex: {arrivalDateTabIndex} }</include-props>
                    <include-vars class="display-none">{ type: `date` } </include-vars>
                </include-html>
                <include-html include-in="reservations.html" src="./html/components/text-field.html" component-class="TextField" component-id="{id}EstimatedArrivalTime">
                    <include-props class="display-none">{ name: `EstimatedArrivalTime`, label: `Estimated Arrival Time`, labelAboveField: false, required: true, minlength: 5, maxlength: 5, tabindex: {estimatedArrivalTimeTabIndex} }</include-props>
                    <include-vars class="display-none">{ type: `time` } </include-vars>
                </include-html>
            </div>
        </div>
    </component-markup>
</custom-component>