<custom-component>
    <script>
        //# sourceURL=html/components/reservations/airport.html
        class Airport extends Component {
            onChildrenMounted() {
                const testState = async () => {
                    let results = []
                    const airports = [`Chandler Municipal Airport`, `Skyharbor Terminal 3`, `Skyharbor Airport Terminal 4`, `Deer Valley Airport`, `Glendale Municipal Airport`,
                        `Phoenix-Mesa Gateway Airport`, `Scottsdale Airport`]
                    const airlines = [`Advanced Air`, `Air Canada`, `Alaska Airlines`, `Allegiant`, `American Airlines`, `Breeze Airways`, `British Airways`, `Condor Airlines`,
                        `Contour Airlines`, `Delta Airlines`, `Denver Air Connection`, `Frontier Airlines`, `Hawaiian Airlines`, `JetBlue Airways`, 
                        `JSX - Jackson Jet Center`, `Lynx Air`, `Southern Airways Express`, `Southwest Airlines`, `Spirit Airlines`,
                        `Sun Country Airlines`, `United Airlines`, `Volaris`, `WestJet`]

                    assert(airports.includes(this.Airport.Element.value),                   `Field '${this.Airport.props.label}' is a valid airport.`, results, true)
                    return results
                }
                const testDate = async () => {
                    let results = []
                    function isNotBeforeToday(date) {
                        const today = new Date()

                        today.setHours(0, 0, 0, 0)
                        return date >= today
                    }

                    let parts = this.ArrivalDate.Element.value.split("-")
                    let day = new Date(parseInt(parts[0], 10), parseInt(parts[1], 10) - 1, parseInt(parts[2], 10))
                    assert(isNotBeforeToday(day),                                           `Field '${this.ArrivalDate.props.label}' is a not in the past.`, results, true)
                    return results
                }
                const testTime = async () => {
                    let results = []
                    function isNotBeforeToday(date) {
                        const today = new Date()

                        return date >= today
                    }

                    let dateParts = this.ArrivalDate.Element.value.split("-")
                    let tmeParts = this.EstimatedArrivalTime.Element.value.split(":")
                    let day = new Date(parseInt(dateParts[0], 10), parseInt(dateParts[1], 10) - 1, parseInt(dateParts[2], 10), parseInt(tmeParts[0], 10), parseInt(tmeParts[1], 10))
                    assert(isNotBeforeToday(day),                                           `Field '${this.EstimatedArrivalTime.props.label}' is a not in the past.`, results, true)
                    return results
                }

                this.Airport.vars.customValidationTests.push(testState)
                this.ArrivalDate.vars.customValidationTests.push(testDate)
                this.EstimatedArrivalTime.vars.customValidationTests.push(testTime)
                super.onChildrenMounted()
            }
            clearData() {
                this.Airport.Element.value = ''
                this.FlightNumber.Element.value = ''
                this.ArrivalDate.Element.value = ''
                this.EstimatedArrivalTime.Element.value = ''
            }
            setIndexes(firstIndex) {
                this.Airport.Element.tabIndex = firstIndex
                this.Airline.Element.tabIndex = firstIndex + 1
                this.FlightNumber.Element.tabIndex = firstIndex + 2
                this.ArrivalDate.Element.tabIndex = firstIndex + 3
                this.EstimatedArrivalTime.Element.tabIndex = firstIndex + 4

            }
            getFieldCount() { if (this.vars.shortForm) { return 1 } else { return 5 }}
            setShortForm() {
                this.vars.shortForm = true
                this.AirlineOuterWrapperElement.classList.add(`display-none`)
                this.FlightNumber.WrapperElement.classList.add(`display-none`)
                this.ArrivalDate.WrapperElement.classList.add(`display-none`)
                this.EstimatedArrivalTime.WrapperElement.classList.add(`display-none`)
            }
            getData() {
                const airportObj = this.Airport
                const airlineObj = this.Airline
                const flightNumberObj = this.FlightNumber
                const arrivalDateObj = this.ArrivalDate
                const estimatedArrivalTimeObj = this.EstimatedArrivalTime

                if (!airportObj || !flightNumberObj || !arrivalDateObj || !estimatedArrivalTimeObj) {
                    showError(`Error getting airport data.`)
                    return null
                }
                if (!this.vars.shortForm && !arrivalDateObj) {
                    showError(`Error getting airport data.`)
                    return null
                }
                if (!airportObj.vars.valid) {
                    showError(`${airportObj.props.name} is invalid.`)
                    return null
                }
                if (this.FlightNumber?.Element?.value && !flightNumberObj.vars.valid) {
                    showError(`${flightNumberObj.props.name} is invalid.`)
                    return null
                }
                if (this.ArrivalDate?.Element?.value && !arrivalDateObj.vars.valid) {
                    showError(`${arrivalDateObj.props.name} is invalid.`)
                    return null
                }
                /*
                if (this.EstimatedArrivalTime?.Element?.value && !estimatedArrivalTimeObj.vars.valid) {
                    showError(`${estimatedArrivalTimeObj.props.name} is invalid.`)
                    return null
                }
                */

                const airport = this.Airport.Element.value
                const airline = this.Airline.Element.value
                const flightNumber = this.FlightNumber?.Element?.value
                const arrivalDate = this.ArrivalDate?.Element?.value
                const estimatedArrivalTime = this.EstimatedArrivalTime?.Element?.value

                if (!this.vars.shortForm) { return { airport, airline, flightNumber, arrivalDate, estimatedArrivalTime }}
                else { return { airport, flightNumber, arrivalDate, estimatedArrivalTime }}
            }
            props = {
                title: ``
            }
            vars = {
                shortForm: false
            }
        }
    </script>
    <style>
    </style>
    <component-markup>
        <div id="{id}">
            <div>
                <include-html include-in="airport.html" src="./html/components/text-field.html" component-class="TextField" component-id="{id}Airport">
                    <include-props class="display-none">{ name: `Airport`, placeholder: `Airport`, label: `Airport`, labelAboveField: false, list: `{id}AirportList`, required: true, minlength: 2, maxlength: 30, tabindex: 101, showValidationErrors: `snackbar` }</include-props>
                    <include-vars class="display-none">{ type: `text` } </include-vars>
                </include-html>
                <datalist id="{id}AirportList">
                    <option value="Chandler Municipal Airport"></option>
                    <option value="Skyharbor Terminal 3"></option>
                    <option value="Skyharbor Airport Terminal 4"></option>
                    <option value="Deer Valley Airport"></option>
                    <option value="Glendale Municipal Airport"></option>
                    <option value="Phoenix-Mesa Gateway Airport"></option>
                    <option value="Scottsdale Airport"></option>
                </datalist>
                <div id="{id}AirlineOuterWrapper">
                    <include-html include-in="airport.html" src="./html/components/text-field.html" component-class="TextField" component-id="{id}Airline">
                        <include-props class="display-none">{ name: `Airline`, placeholder: `Airline`, label: `Airline`, labelAboveField: false, list: `{id}AirlineList`, minlength: 2, maxlength: 30, tabindex: 101, showValidationErrors: `snackbar` }</include-props>
                        <include-vars class="display-none">{ type: `text` } </include-vars>
                    </include-html>
                    <datalist id="{id}AirlineList">
                        <option value="Advanced Air"></option>
                        <option value="Air Canada"></option>
                        <option value="Alaska Airlines"></option>
                        <option value="Allegiant"></option>
                        <option value="American Airlines"></option>
                        <option value="Breeze Airways"></option>
                        <option value="British Airways"></option>
                        <option value="Condor Airlines"></option>
                        <option value="Contour Airlines"></option>
                        <option value="Delta Airlines"></option>
                        <option value="Denver Air Connection"></option>
                        <option value="Frontier Airlines"></option>
                        <option value="Hawaiian Airlines"></option>
                        <option value="JetBlue Airways"></option>
                        <option value="JSX - Jackson Jet Center"></option>
                        <option value="Lynx Air"></option>
                        <option value="Southern Airways Express"></option>
                        <option value="Southwest Airlines"></option>
                        <option value="Spirit Airlines"></option>
                        <option value="Sun Country Airlines"></option>
                        <option value="United Airlines"></option>
                        <option value="Volaris"></option>
                        <option value="WestJet"></option>
                    </datalist>
                </div>
                <include-html include-in="airport.html" src="./html/components/text-field.html" component-class="TextField" component-id="{id}FlightNumber">
                    <include-props class="display-none">{ name: `FlightNumber`, placeholder: `Flight Number`, label: `Flight Number`, labelAboveField: false, required: true, minlength: 1, maxlength: 30, tabindex: 102, showValidationErrors: `snackbar` }</include-props>
                    <include-vars class="display-none">{ type: `text` } </include-vars>
                </include-html>
                <include-html include-in="airport.html" src="./html/components/text-field.html" component-class="TextField" component-id="{id}ArrivalDate">
                    <include-props class="display-none">{ name: `ArrivalDate`, label: `Arrival Date`, labelAboveField: false, required: true, minlength: 10, maxlength: 10, tabindex: 103, showValidationErrors: `snackbar` }</include-props>
                    <include-vars class="display-none">{ type: `date` } </include-vars>
                </include-html>
                <include-html include-in="airport.html" src="./html/components/text-field.html" component-class="TextField" component-id="{id}EstimatedArrivalTime">
                    <include-props class="display-none">{ name: `EstimatedArrivalTime`, label: `Estimated Arrival Time`, labelAboveField: false, required: true, minlength: 5, maxlength: 5, tabindex: 104, showValidationErrors: `snackbar` }</include-props>
                    <include-vars class="display-none">{ type: `time` } </include-vars>
                </include-html>
            </div>
        </div>
    </component-markup>
    <test-script>
    </test-script>
</custom-component>