<custom-component>
    <script>
        //# sourceURL=html/components/reservations/location.html
        class Location extends Component {
            getAirportObject() { return Component.getObject(`${this.id}AirportInfo`) }
            isAirportVisible() { return !this.AirportWrapperElement.classList.contains(`display-none`) }
            showAirport() { 
                if (!this.isAirportVisible()) {  
                    this.AirportWrapperElement.classList.remove(`display-none`)
                    this.AirportElement.checked = true
                }
                if (this.isAddressVisible()) { 
                    this.AddressWrapperElement.classList.add(`display-none`) 
                    this.AddressElement.checked = false
                    this.getAddressObject().clearData()
                }
                this.resetIndexes()
            }
            hideAirport() {
                if (this.isAirportVisible()) {
                    this.AirportWrapperElement.classList.add(`display-none`) 
                    this.AirportElement.checked = false
                    this.getAirportObject().clearData()
                }
                if (!this.isAddressVisible()) { 
                    this.AddressWrapperElement.classList.remove(`display-none`)
                    this.AddressElement.checked = true
                }
                this.resetIndexes()
            }
            getAddressObject() { return Component.getObject(`${this.id}AddressInfo`) }
            isAddressVisible() { return !this.AddressWrapperElement.classList.contains(`display-none`) }
            showAddress() { this.hideAirport() }
            hideAddress() { this.showAirport() }
            setIndexes(firstIndex) {
                this.vars.airportRadioTabIndex = firstIndex
                this.vars.addressRadioTabIndex = firstIndex + 1
                if (this.isAirportVisible()) { this.getAirportObject().setIndexes(firstIndex + 2) }
                else if (this.isAddressVisible()) { this.getAddressObject().setIndexes(firstIndex + 2) } 
            }
            getFieldCount() {
                if (this.isAirportVisible()) { return this.getAirportObject().getFieldCount() + 2 }
                else if (this.isAddressVisible()) { return this.getAddressObject().getFieldCount() + 2 } 
                return 0
            }
            resetIndexes() {
                getParentComponent().resetIndexes()
            }
            getData() {
                if (this.isAirportVisible()) { return this.getAirportObject().getData() }
                else if (this.isAddressVisible()) { return this.getAddressObject().getData() } 
                return null
            }
            props = {
                title: `Pickup`,
            }
            vars = {
                airportRadioTabIndex: 1,
                addressRadioTabIndex: 2,
            }
        }
    </script>
    <test-script>
    </test-script>
    <style>
    </style>
    <component-markup>
        <div id="{id}" class="flex-col margin-10 shadow-white round-15px pad-b-10 w50">
            <h2 id="{id}Title" class="header-6 margin-l-5 margin-b-5">{title}</h2>
            <div id="{id}Location" class="flex-row">
                <div id="{id}AirportRadioWrapper" onclick="$obj.showAirport()">
                    <include-html include-in="reservations.html" src="./html/components/radio-button.html" component-class="RadioButton" component-id="{id}Airport" checked="true">
                        <include-props class="display-none">{ label: `Airport`, name: `{title}location`, tabindex: {airportRadioTabIndex} }</include-props>
                    </include-html>
                </div>
                <div class="margin-lr-10"></div>
                <div id="{id}AddressRadioWrapper" onclick="$obj.showAddress()">
                    <include-html include-in="reservations.html" src="./html/components/radio-button.html" component-class="RadioButton" component-id="{id}Address" checked="false">
                        <include-props class="display-none">{ label: `Address`, name: `{title}location`, tabindex: {addressRadioTabIndex} }</include-props>
                    </include-html>
                </div>
            </div>
            <div class="margin-10">
                <div id="{id}AirportWrapper">
                    <include-html include-in="reservations.html" src="./html/components/reservations/airport.html" component-class="Airport" component-id="{id}AirportInfo">
                        <include-props class="display-none">{ title: `{title}` }</include-props>
                    </include-html>
                </div>
                <div id="{id}AddressWrapper" class="display-none">
                    <include-html include-in="reservations.html" src="./html/components/reservations/address.html" component-class="Address" component-id="{id}AddressInfo">
                        <include-props class="display-none">{ title: `{title}` }</include-props>
                    </include-html>
                </div>
            </div>
        </div>
    </component-markup>
</custom-component>