<custom-component>
    <script>
        //# sourceURL=html/components/reservations/location.html
        class Location extends Component {
            isAirportVisible() { return !this.AirportWrapperElement.classList.contains(`display-none`) }
            showAirport() { 
                if (!this.isAirportVisible()) {  
                    this.AirportWrapperElement.classList.remove(`display-none`)
                    this.Airport.Element.checked = true
                }
                if (this.isAddressVisible()) { 
                    this.AddressWrapperElement.classList.add(`display-none`) 
                    this.Address.Element.checked = false
                    this.AddressInfo.clearData()
                }
                this.resetIndexes()
            }
            hideAirport() {
                if (this.isAirportVisible()) {
                    this.AirportWrapperElement.classList.add(`display-none`)
                    this.Airport.Element.checked = false
                    this.AirportInfo.clearData()
                }
                if (!this.isAddressVisible()) { 
                    this.AddressWrapperElement.classList.remove(`display-none`)
                    this.Address.Element.checked = true
                }
                this.resetIndexes()
            }
            isAddressVisible() { return !this.AddressWrapperElement.classList.contains(`display-none`) }
            showAddress() { this.hideAirport() }
            hideAddress() { this.showAirport() }
            setIndexes(firstIndex) {
                this.Airport.Element.tabIndex = firstIndex
                this.Address.Element.tabIndex = firstIndex + 1
                if (this.isAirportVisible()) { this.AirportInfo.setIndexes(firstIndex + 2) }
                else if (this.isAddressVisible()) { this.AddressInfo.setIndexes(firstIndex + 2) } 
            }
            getFieldCount() {
                if (this.isAirportVisible()) { return this.AirportInfo.getFieldCount() + 2 }
                else if (this.isAddressVisible()) { return this.AddressInfo.getFieldCount() + 2 } 
                return 0
            }
            resetIndexes() {
                this.getParent().resetIndexes()
            }
            getData() {
                if (this.isAirportVisible()) { return this.AirportInfo.getData() }
                else if (this.isAddressVisible()) { return this.AddressInfo.getData() } 
                return null
            }
            props = {
                title: `Pickup`,
            }
        }
    </script>
    <style>
    </style>
    <component-markup>
        <div id="{id}" class="reservation-card w50">
            <h2 id="{id}Title" class="header-6 margin-l-5 margin-b-5">{title}</h2>
            <div id="{id}Location" class="flex-row">
                <div id="{id}AirportRadioWrapper" onclick="$obj.showAirport()">
                    <include-html include-in="reservations.html" src="./html/components/radio-button.html" component-class="RadioButton" component-id="{id}Airport" checked="true">
                        <include-props class="display-none">{ label: `Airport`, name: `{title}location`, tabindex: 1 }</include-props>
                    </include-html>
                </div>
                <div class="margin-lr-10"></div>
                <div id="{id}AddressRadioWrapper" onclick="$obj.showAddress()">
                    <include-html include-in="reservations.html" src="./html/components/radio-button.html" component-class="RadioButton" component-id="{id}Address" checked="false">
                        <include-props class="display-none">{ label: `Address`, name: `{title}location`, tabindex: 2 }</include-props>
                    </include-html>
                </div>
            </div>
            <div class="margin-10">
                <div id="{id}AirportWrapper">
                    <include-html include-in="reservations.html" src="./html/components/reservations/airport.html" component-class="Airport" component-id="{id}AirportInfo">
                        <include-props class="display-none">{ title: `{title}` }</include-props>
                    </include-html>
                </div>
                <div id="{id}AddressWrapper" class="display-none">
                    <include-html include-in="reservations.html" src="./html/components/reservations/address.html" component-class="Address" component-id="{id}AddressInfo">
                        <include-props class="display-none">{ title: `{title}` }</include-props>
                    </include-html>
                </div>
            </div>
        </div>
    </component-markup>
    <test-script>
    </test-script>
</custom-component>