<custom-component>
    <script>
        //# sourceURL=html/components/reservations/reservations.html
        class Reservations extends Component {
            initialize(id) {
                super.initialize(id)
                Queue.register(this, Messages.COMPONENT_DESCENDANTS_MOUNTED, (message) => {
                    if (!message.id || message.id !== this.id ) { return }
                    this.resetIndexes()
                })
            }
            onDescendantsMounted() {
                this.resetIndexes()
                const testDropoffDateAfterPickupDate = async () => {
                    let results = []
                    const dropoffAirport = this.DropoffLocation.isAirportVisible()
                    const pickupAirport = this.PickupLocation.isAirportVisible()
                    const dropoffDateValue = (dropoffAirport)? this.DropoffLocation.AirportInfo.ArrivalDate.Element.value : this.DropoffLocation.AddressInfo.Date.Element.value
                    const pickupDateValue = (pickupAirport)? this.PickupLocation.AirportInfo.ArrivalDate.Element.value : this.PickupLocation.AddressInfo.Date.Element.value
                    const dropoffDateParts = dropoffDateValue.split("-")
                    const pickupDateParts = pickupDateValue.split("-")
                    const dropoffDate = new Date(parseInt(dropoffDateParts[0], 10), parseInt(dropoffDateParts[1], 10) - 1, parseInt(dropoffDateParts[2], 10))
                    const pickupDate = new Date(parseInt(pickupDateParts[0], 10), parseInt(pickupDateParts[1], 10) - 1, parseInt(pickupDateParts[2], 10))
                    const dropoffDateLabel = (dropoffAirport)? this.DropoffLocation.AirportInfo.ArrivalDate.props.label : this.DropoffLocation.AddressInfo.Date.props.label
                    const pickupDatelabel = (pickupAirport)? this.PickupLocation.AirportInfo.ArrivalDate.props.label : this.PickupLocation.AddressInfo.Date.props.label

                    assert(pickupDate <= dropoffDate,                                                `Field '${dropoffDateLabel}' is not before pickup '${pickupDatelabel}'.`, results, true)
                    return results
                }
                const testDropoffTimeAfterPickupTime = async () => {
                    let results = []
                    const dropoffAirport = this.DropoffLocation.isAirportVisible()
                    const pickupAirport = this.PickupLocation.isAirportVisible()
                    const dropoffDateValue = (dropoffAirport)? this.DropoffLocation.AirportInfo.ArrivalDate.Element.value : this.DropoffLocation.AddressInfo.Date.Element.value
                    const pickupDateValue = (pickupAirport)? this.PickupLocation.AirportInfo.ArrivalDate.Element.value : this.PickupLocation.AddressInfo.Date.Element.value
                    const dropoffTimeValue = (dropoffAirport)? this.DropoffLocation.AirportInfo.EstimatedArrivalTime.Element.value : this.DropoffLocation.AddressInfo.Time.Element.value
                    const pickupTimeValue = (pickupAirport)? this.PickupLocation.AirportInfo.EstimatedArrivalTime.Element.value : this.PickupLocation.AddressInfo.Time.Element.value
                    const dropoffDateParts = dropoffDateValue.split("-")
                    const pickupDateParts = pickupDateValue.split("-")
                    const dropoffTimeParts = dropoffTimeValue.split(":")
                    const pickupTimeParts = pickupTimeValue.split(":")
                    const dropoffDate = new Date(parseInt(dropoffDateParts[0], 10), parseInt(dropoffDateParts[1], 10) - 1, parseInt(dropoffDateParts[2], 10), parseInt(dropoffTimeParts[0], 10), parseInt(dropoffTimeParts[1], 10))
                    const pickupDate = new Date(parseInt(pickupDateParts[0], 10), parseInt(pickupDateParts[1], 10) - 1, parseInt(pickupDateParts[2], 10), parseInt(pickupTimeParts[0], 10), parseInt(pickupTimeParts[1], 10))
                    const dropoffTimeLabel = (dropoffAirport)? this.DropoffLocation.AirportInfo.EstimatedArrivalTime.props.label : this.DropoffLocation.AddressInfo.Time.props.label
                    const pickupTimelabel = (pickupAirport)? this.PickupLocation.AirportInfo.EstimatedArrivalTime.props.label : this.PickupLocation.AddressInfo.Time.props.label

                    if (dropoffDateValue === pickupDateValue) {
                        assert(pickupDate <= dropoffDate,                                                `Field '${dropoffTimeLabel}' is not before pickup '${pickupTimelabel}'.`, results, true)
                    }
                    return results
                }

                this.DropoffLocation.AirportInfo.ArrivalDate.vars.customValidationTests.push(testDropoffDateAfterPickupDate)
                this.DropoffLocation.AddressInfo.Date.vars.customValidationTests.push(testDropoffDateAfterPickupDate)
                this.DropoffLocation.AirportInfo.EstimatedArrivalTime.vars.customValidationTests.push(testDropoffTimeAfterPickupTime)
                this.DropoffLocation.AddressInfo.Time.vars.customValidationTests.push(testDropoffTimeAfterPickupTime)
            }
            onBlur(event) { this.updateSpecialInstructions() }
            onInput(event) { this.updateSpecialInstructions() }
            updateSpecialInstructions() {
                const textarea = this.SpecialInstructionsTextElement

                this.vars.specialInstructions = textarea.value
            }
            resetIndexes() {
                this.PickupLocation.setIndexes(4)
                this.DropoffLocation.setIndexes(4 + this.PickupLocation.getFieldCount())
                this.SpecialInstructionsTextElement.tabindex = 4 + this.PickupLocation.getFieldCount() + this.DropoffLocation.getFieldCount()
            }
            getData() {
                const firstNameObj = this.FirstName
                const lastNameObj = this.LastName
                const mobileNumberObj = this.MobileNumber
                const pickupLocationObj = this.PickupLocation
                const dropoffLocationObj = this.DropoffLocation
                const pickupLocationData = pickupLocationObj.getData()
                const dropoffLocationData = dropoffLocationObj.getData()

                if (!firstNameObj || !lastNameObj || !mobileNumberObj || !pickupLocationObj || !dropoffLocationObj || !pickupLocationData || !dropoffLocationData) {
                    showError(`Error getting reservation data.`)
                    return null
                }
                if (!firstNameObj.vars.valid) {
                    showError(`${firstNameObj.props.name} is invalid.`)
                    return null
                }
                if (!lastNameObj.vars.valid) {
                    showError(`${lastNameObj.props.name} is invalid.`)
                    return null
                }

                if (!mobileNumberObj.vars.valid) {
                    showError(`${mobileNumberObj.props.name} is invalid.`)
                    return null
                }

                const firstName = this.FirstName.Element.value
                const lastName = this.LastName.Element.value
                const mobileNumber = this.MobileNumber.Element.value
                const pickupLocation = pickupLocationData
                const dropoffLocation = dropoffLocationData
                const specialInstructions = this.SpecialInstructionsTextElement.value
                
                return { firstName, lastName, mobileNumber, pickupLocation, dropoffLocation, specialInstructions }
            }
            async sendReservationRequest () {
                const reservationRequest = this.getData()
                const response = await fetch('http://localhost:8080/request-reservation', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(reservationRequest)
                })

                if (200 === response.status) {                    
                    showInfo(`Your reservation request has been sent.`)
                } else {
                    showError(`Error sending reservation request. Status code ${response.status}.`)
                }
            }
            vars = {
                specialInstructions: ``
            }
        }
    </script>
    <style>
        :root {
            --reservation-card-display: flex;
            --reservation-card-flex-direction: column;
            --reservation-card-pad: 5px;
            --reservation-card-margin: 5px;
            --reservation-card-border-style: solid;
            --reservation-card-border-width: 2px;
            --reservation-card-border-color: var(--secondary-color);

            --special-instructions-width: 100%;
            --special-instructions-height: 100px;
            --special-instructions-color: var(--blue-gray-900);
            --special-instructions-text-align: left;
            --special-instructions-white-space: pre-wrap;
            --special-instructions-family: var(--secondary-font-family);
            --special-instructions-font-size: var(--caption-1-font-size);
            --special-instructions-font-weight: font-weight: var(--caption-1-font-weight)

        }

        .reservation-card {
            display: var(--reservation-card-display);
            flex-direction: var(--reservation-card-flex-direction);
            padding: var(--reservation-card-pad);
            margin: var(--reservation-card-margin);
            border-style: var(--reservation-card-border-style);
            border-width: var(--reservation-card-border-width);
            border-color: var(--reservation-card-border-color);
        }
        .special-instructions {
            width: var(--special-instructions-width);
            height: var(--special-instructions-height);
            color: var(--special-instructions-color);
            text-align: var(--special-instructions-text-align);
            white-space: var(--special-instructions-white-space);
            font-family: var(--special-instructions-font-family);
            font-size: var(--special-instructions-font-size);
            font-weight: var(--special-instructions-font-weight);
        }
    </style>
    <component-markup>
        <div id="{id}" class="margin-10">
            <section id="{id}PersonalInfo" class="reservation-card">
                <h2 id="{id}AboutYouTitle" class="header-6">About You</h2>
                <div id="{id}FirstNameLastNamePhoneNumber" class="flex-row pad-b-10">
                    <include-html include-in="reservations.html" src="./html/components/text-field.html" component-class="TextField" component-id="{id}FirstName">
                        <include-props class="display-none">{ name: `FirstName`, placeholder: `First Name`, label: `First Name`, labelAboveField: false, required: true, minlength: 2, autofocus: true, tabindex: 1 }</include-props>
                        <include-vars class="display-none">{ type: `text` } </include-vars>
                    </include-html>
                    <include-html include-in="reservations.html" src="./html/components/text-field.html" component-class="TextField" component-id="{id}LastName">
                        <include-props class="display-none">{ name: `LastName`, placeholder: `Last Name`, label: `Last Name`, labelAboveField: false, required: true, tabindex: 2 }</include-props>
                        <include-vars class="display-none">{ type: `text` } </include-vars>
                    </include-html>
                    <include-html include-in="reservations.html" src="./html/components/text-field.html" component-class="TextField" component-id="{id}MobileNumber">
                        <include-props class="display-none">{ name: `MobileNumber`, placeholder: `Mobile Number`, label: `Mobile Number`, labelAboveField: false, required: true, size: 14, minlength: 10, maxlength: 14, tabindex: 3 }</include-props>
                        <include-vars class="display-none">{ type: `tel` } </include-vars>
                    </include-html>
                </div>
            </section>
            <div id="{id}LocationWrapper" class="flex-row">
                <include-html include-in="reservations.html" src="./html/components/reservations/location.html" component-class="Location" component-id="{id}PickupLocation">
                    <include-props class="display-none">{ title: `Pickup` }</include-props>
                </include-html>
                <include-html include-in="reservations.html" src="./html/components/reservations/location.html" component-class="Location" component-id="{id}DropoffLocation">
                    <include-props class="display-none">{ title: `Dropoff` }</include-props>
                </include-html>
            </div>
            <div id="{id}SpecialInstructions" class="reservation-card">
                <h2 id="{id}SpecialInstructionsTitle" class="header-6 margin-l-5 margin-b-5">Special Instructions</h2>
                <textarea id="{id}SpecialInstructionsText" name="SpecialInstructions" class="special-instructions" onblur="$obj.onBlur(event)" oninput="$obj.onInput(event)" tabindex="23">{specialInstructions}</textarea>
            </div>
            <div id="{id}ButtonWrapper" class="flex-col flex-center flex-align-center margin-t-20 w100">
                <div id="{id}Button" class="button w100px center-text" onclick="$obj.sendReservationRequest()">Request a Reservation</div>
            </div>
    </div>
    </component-markup>
    <test-script>
    </test-script>
</custom-component>