<custom-component>
    <script>
        //# sourceURL=html/components/reservations/reservations.html
        class Reservations extends Component {
            initialize(id) {
                super.initialize(id)
                Queue.register(this, Messages.COMPONENT_DESCENDANTS_MOUNTED, (message) => {
                    if (!message.id || message.id !== this.id ) { return }
                    this.resetIndexes()
                })
            }
            onBlur(event) { this.updateSpecialInstructions() }
            onInput(event) { this.updateSpecialInstructions() }
            updateSpecialInstructions() {
                const textAreaId = `${this.id}SpecialInstructionsText`
                const textarea = document.getElementById(textAreaId)

                this.vars.specialInstructions = textarea.value
            }
            getFirstNameElement() { return document.getElementById(`${this.id}FirstName`) }
            getFirstNameObject() { return Component.getObject(`${this.id}FirstName`) }
            getLastNameElement() { return document.getElementById(`${this.id}LastName`) }
            getLastNameObject() { return Component.getObject(`${this.id}LastName`) }
            getMobileNumberElement() { return document.getElementById(`${this.id}MobileNumber`) }
            getMobileNumberObject() { return Component.getObject(`${this.id}MobileNumber`) }
            getPickupLocationElement() { return document.getElementById(`${this.id}PickupLocation`) }
            getPickupLocationObject() { return Component.getObject(`${this.id}PickupLocation`) }
            getDropoffLocationElement() { return document.getElementById(`${this.id}DropoffLocation`) }
            getDropoffLocationObject() { return Component.getObject(`${this.id}DropoffLocation`) }
            getSpecialInstructionsTextElement() { return document.getElementById(`${this.id}SpecialInstructionsText`) }
            resetIndexes() {
                this.getPickupLocationObject().setIndexes(4)
                this.getDropoffLocationObject().setIndexes(4 + this.getPickupLocationObject().getFieldCount())
                getSpecialInstructionsTextElement().tabindex = 4 + this.getPickupLocationObject().getFieldCount() + this.getDropoffLocationObject().getFieldCount()
            }
            getData() {
                const firstNameObj = this.getFirstNameObject()
                const lastNameObj = this.getLastNameObject()
                const mobileNumberObj = this.getMobileNumberObject()
                const pickupLocationObj = this.getPickupLocationObject()
                const dropoffLocationObj = this.getDropoffLocationObject()
                const pickupLocationData = pickupLocationObj?.getData()
                const dropoffLocationData = dropoffLocationObj?.getData()

                if (!firstNameObj || !lastNameObj || !mobileNumberObj || !pickupLocationObj || !dropoffLocationObj || !pickupLocationData || !dropoffLocationData) {
                    this.showError(`Error getting reservation data.`)
                    return null
                }
                if (!firstNameObj.vars.valid) {
                    this.showError(`${firstNameObj.props.name} is invalid.`)
                    return null
                }
                if (!lastNameObj.vars.valid) {
                    this.showError(`${lastNameObj.props.name} is invalid.`)
                    return null
                }

                if (!mobileNumberObj.vars.valid) {
                    this.showError(`${mobileNumberObj.props.name} is invalid.`)
                    return null
                }

                const firstName = this.getFirstNameElement().value
                const lastName = this.getLastNameElement().value
                const mobileNumber = this.getMobileNumberElement().value
                const pickupLocation = pickupLocationData
                const dropoffLocation = dropoffLocationData
                const specialInstructions = this.getSpecialInstructionsTextElement().value
                
                return { firstName, lastName, mobileNumber, pickupLocation, dropoffLocation, specialInstructions }
            }
            async sendReservationRequest () {
                const reservationRequest = this.getData()
                console.log(JSON.stringify(reservationRequest))
                const response = await fetch('http://localhost:8080/request-reservation', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(reservationRequest)
                })

                if (200 === response.status) {                    
                    this.showInfo(`Your reservation request has been sent.`)
                } else {
                    this.showError(`Error sending reservation request. Status code ${response.status}.`)
                }
            }
            showInfo(message) {
                let infoSnackbar = Component.getObject(`SnackbarInfo`)
                        
                infoSnackbar.vars.text = message
                infoSnackbar.show()
            }
            showError(message) {
                let errorSnackbar = Component.getObject(`SnackbarError`)
                        
                errorSnackbar.vars.text = message
                errorSnackbar.show()
            }
            vars = {
                specialInstructions: ``
            }
        }
    </script>
    <test-script>
    </test-script>
    <style>
    </style>
    <component-markup>
        <div id="{id}" class="margin-10">
            <section id="{id}PersonalInfo" class="flex-col margin-10 margin-b-20 shadow-white round-15px">
                <h2 id="{id}AboutYouTitle" class="header-6 margin-l-5 margin-b-5">About You</h2>
                <div id="{id}FirstNameLastNamePhoneNumber" class="flex-row pad-b-10">
                    <include-html include-in="reservations.html" src="./html/components/text-field.html" component-class="TextField" component-id="{id}FirstName">
                        <include-props class="display-none">{ name: `FirstName`, placeholder: `First Name`, label: `First Name`, labelAboveField: false, required: true, minlength: 2, autofocus: true, tabindex: 1 }</include-props>
                        <include-vars class="display-none">{ type: `text` } </include-vars>
                    </include-html>
                    <include-html include-in="reservations.html" src="./html/components/text-field.html" component-class="TextField" component-id="{id}LastName">
                        <include-props class="display-none">{ name: `LastName`, placeholder: `Last Name`, label: `Last Name`, labelAboveField: false, required: true, tabindex: 2 }</include-props>
                        <include-vars class="display-none">{ type: `text` } </include-vars>
                    </include-html>
                    <include-html include-in="reservations.html" src="./html/components/text-field.html" component-class="TextField" component-id="{id}MobileNumber">
                        <include-props class="display-none">{ name: `MobileNumber`, placeholder: `Mobile Number`, label: `Mobile Number`, labelAboveField: false, required: true, size: 14, minlength: 10, maxlength: 14, tabindex: 3 }</include-props>
                        <include-vars class="display-none">{ type: `tel` } </include-vars>
                    </include-html>
                </div>
            </section>
            <div id="{id}LocationWrapper" class="flex-row">
                <include-html include-in="reservations.html" src="./html/components/reservations/location.html" component-class="Location" component-id="{id}PickupLocation">
                    <include-props class="display-none">{ title: `Pickup` }</include-props>
                </include-html>
                <include-html include-in="reservations.html" src="./html/components/reservations/location.html" component-class="Location" component-id="{id}DropoffLocation">
                    <include-props class="display-none">{ title: `Dropoff` }</include-props>
                </include-html>
            </div>
            <div id="{id}SpecialInstructions" class="flex-col margin-10 margin-b-20 shadow-white round-15px">
                <h2 id="{id}SpecialInstructionsTitle" class="header-6 margin-l-5 margin-b-5">Special Instructions</h2>
                <textarea id="{id}SpecialInstructionsText" name="SpecialInstructions" class="w100 h240px left-align-text whitespace-pre-wrap caption-1" onblur="$obj.onBlur(event)" oninput="$obj.onInput(event)" tabindex="23">{specialInstructions}</textarea>
            </div>
            <div id="{id}ButtonWrapper" class="flex-col flex-center flex-align-center margin-t-20 w100">
                <div id="{id}Button" class="button w100px center-text" onclick="$obj.sendReservationRequest()">Request a Reservation</div>
            </div>
    </div>
    </component-markup>
</custom-component>